input.form-control.ng-invalid {border: 1px solid #f32938;}

button.green-button[disabled] {
    background-color: #d3d3d3;
    color: #808080
}

p.color-valid {color: #3ba890}

.spin input {
    padding-left: 12px;
}

/*==== error message, success message ====*/
div.alert-danger {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
}
div.alert-success {
    height: 60px;
    width: 100%;
    padding-left: 23px;
    padding-top: 19px;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #71dac0;
    color: black;
    border-color: #3ba890;
    position: absolute;
    top: 0px;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    z-index: 1000;
}

@media (max-width: 1599px) {
    .alert-danger, .alert-success {
        height: auto;
        top: 0px;
    }
}
@media (max-width: 1199px) {
    .alert-danger, .alert-success {
        height: auto;
        top: 0px;
    }
}
@media (max-width: 991px){
    .alert-danger, .alert-success {
        height: auto;
        top: 0px;
    }
}
@media (max-width: 767px){
    .alert-danger, .alert-success {
        height: auto;
        top: 0px;
    }
}
@media (max-width: 575px){
    .alert-danger, .alert-success {
        height: auto;
        top: 0px;
    }
}
/*=end=== error message, success message ====*/

