input.form-control.ng-invalid {border: 1px solid #f32938;}

button.green-button[disabled] {
    background-color: #d3d3d3;
    color: #808080
}

p.color-valid {color: #3ba890}

.spin input {
    padding-left: 12px;
}