/*.main-wrapper {*/
/*max-width: 1600px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*display: flex;*/
/*align-items: stretch;*/
/*position: relative;*/
/*height: 100%;*/
/*!*height: 1200px;*!*/
/*}*/

/*html {*/
/*height: 100%;*/
/*}*/
html {
    height: 100%;
    overflow-x: hidden;
}

body, .main-wrapper {
    max-width: 1600px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (max-width: 1199px) {
    /*article {*/
        /*max-width: 100%;*/
    /*}*/
    .alert-danger {
        height: auto;
        top: 0px;
    }
    td .control__indicator {
        left: calc(50% - 10px) !important;
    }
}

@media (min-width: 992px) {
    body, .main-wrapper {
        display: flex;
        align-items: stretch;
        min-height: 100vh;
    }
    body::after, .main-wrapper::after{
        content: '';
        height: 100vh;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        float: left;
    }
}