<div class="main-wrapper">

    <navbar-admin></navbar-admin>

    <main>
        <article>
            <admin-clients-content></admin-clients-content>
        </article>
    </main>

</div>


<!--==================== КИРИЛЛ ====================-->
<!--<div id="main-container">-->

    <!--<div class="hidden-sm hidden-md hidden-lg" id="mobile-header">-->
        <!--<navbar-admin-mobile></navbar-admin-mobile>-->
    <!--</div>-->


    <!--<div id="main-sidebar" class="hidden-xs">-->
        <!--<navbar-admin></navbar-admin>-->
    <!--</div>-->


    <!--<div id="main-content">-->
        <!--<h2>-->
            <!--admin-clients-page works!-->
        <!--</h2>-->
    <!--</div>-->


<!--</div>-->
