
<div class="main-content-header-block">
    <h1 class="main-content-header">Réglages</h1>
</div>
<div class="main-content-wrapper col-md-12">
    <form class="col-sm-6 col-xs-12">
        <!--<h3 class="form-header"><label for="login">Mon Compte Formation</label></h3>-->
        <h3 class="form-header"><label >Mon Compte Formation</label></h3>
        <input type="text" name="login" placeholder="Lien" class="input-style-text">
        <h3 class="form-header">Informations du compte</h3>
        <!--<label class="reglages-form-label" for="e-mail">Mail(s) d’alerte</label>-->
        <label class="reglages-form-label">Mail(s) d’alerte</label>
        <input type="text" name="e-mail" placeholder="email@sigma.fr, email5@sigma.fr" class="input-style-text">
        <!--<label class="reglages-form-label" for="password">Mot de passe</label>-->
        <label class="reglages-form-label" >Mot de passe</label>
        <input type="password" name="password" placeholder="*********" class="input-style-text">
        <!--<label class="reglages-form-label" for="password-repeat">Confirmer le mot de passe</label>-->
        <label class="reglages-form-label" >Confirmer le mot de passe</label>
        <input type="password" name="password-repeat" placeholder="*********" class="input-style-text">
        <div class="col-sm-12" style="max-width: 260px;">
            <div class="col-sm-6" style="float: left; padding: 0;">
                <input type="reset" name="" class="button-style-2" value="Annuler">
            </div>
            <div class="col-sm-6" style="float: right; padding: 0;">
                <input type="submit" name="" class="button-style-1" value="Sauvegarder" style="float: right;">
            </div>
        </div>
    </form>
</div>
