<header class="main-header">
    <h1>Clients</h1>
</header>

<div class="main-content">
    <div class="search-panel clearfix">
        <button (click)="gotoNewClientForm()" class="add-an-item-button" ></button>
        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default clients-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Entreprise</th>
                <th>
                    <button class="double-sort-button">
                        <span></span>
                        <span></span>
                    </button>
                    <span>Sites</span>
                </th>
                <th>
                    <button class="double-sort-button">
                        <span></span>
                        <span></span>
                    </button>
                    <span>Employés</span>
                </th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom</td>
                <td>1</td>
                <td>2/10</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>MMMNom de l’entreprise, maximum 45 caractères...</td>
                <td>77 777</td>
                <td>88 888/99 999</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom de l’entreprise</td>
                <td>10</td>
                <td>32/100</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>MMMNom de l’entreprise, maximum 45 caractères...</td>
                <td>99 999</td>
                <td>888/99 999</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>5</td>
                <td>2/10</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>MMMNom de l’entreprise, maximum 45 caractères...</td>
                <td>99 999</td>
                <td>88 888/99 999</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom de l’entreprise</td>
                <td>2</td>
                <td>2/10</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>MMMNom de l’entreprise, maximum 45 caractères...</td>
                <td>799 999</td>
                <td>888/99 999</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>25</td>
                <td>2/10</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>MMMNom de l’entreprise, maximum 45 caractères...</td>
                <td>7 799 999</td>
                <td>88 888/99 999</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
