<div class="main-wrapper">

    <navbar-admin></navbar-admin>

    <main>
        <article>
            <admin-bibliotheque-content></admin-bibliotheque-content>
        </article>
    </main>

    <!--TODO - DOESN'T WORK-->
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form action="/" class="modal-form">
                    <h2>Ajouter un lien</h2>
                    <div class="input-wrapper">
                        <input class="form-control" id="exampleInputText1" placeholder="Nom*" type="text">
                        <p class="requred-field hidden">Champs requis</p>
                    </div>
                    <textarea placeholder="Description"></textarea>
                    <div class="input-wrapper">
                        <input class="form-control" id="exampleInputText2" placeholder="Lien*" type="text">
                        <p class="requred-field hidden">Champs requis</p>
                    </div>
                </form>
                <div class="button-wrapper">
                    <button type="submit" class="form-button red-button annuler-button" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="form-button green-button creer-button" data-dismiss="modal">Créer</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--</div>-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->



<!--==================== КИРИЛЛ ====================-->
<!--<div id="main-container">-->

    <!--<div class="hidden-sm hidden-md hidden-lg" id="mobile-header">-->
        <!--<navbar-admin-mobile></navbar-admin-mobile>-->
    <!--</div>-->


    <!--<div id="main-sidebar" class="hidden-xs">-->
        <!--<navbar-admin></navbar-admin>-->
    <!--</div>-->


    <!--<div id="main-content">-->
        <!--<h2>-->
            <!--admin-bibliotheque-page works!-->
        <!--</h2>-->
    <!--</div>-->


<!--</div>-->
