admin-bibliotheque-modal h2 {
    margin-top: 2px;
    width: 363px;
}

admin-bibliotheque-modal .modal-form textarea {
    margin: 0 0 18px 0;
}

admin-bibliotheque-modal .modal-content .button-wrapper button {
    margin-left: 16px;
}

.requred-field {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10px !important;
    color: #f32938;
    position: absolute;
    bottom: -12px;
}
p.color-valid {
    color: #3ba890 !important;
}
