<header class="main-header">
    <img *ngIf="loading" style='position: absolute; left:49%;' src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <div *ngIf="errorLoad" class="alert alert-danger alert-dismissible fade in" role="alert" style='position: absolute;'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='cancellErrorMessage()'>
            <span aria-hidden="true"></span>
        </button>
        <p>SAFETY: <span>{{errorLoad}}</span></p>
    </div>

    <h1>Bienvenue dans votre tableau de bord</h1>
</header>
<div class="main-content">

        <div style='text-align: center'>
            <div class='circle-wrapper' *ngFor='let progressBar of progressBarValues'>
                <circle-progress #circleProg1
                                 [percent]=progressBar.value
                                 [caption]=progressBar.name
                                 [boxSize]="160"
                                 [backgroundColor] = "'#8d8d8d'"
                                 [radius]="80"
                                 [lowColor]="'#71dac0'"
                                 [middleColor]="'#71dac0'"
                                 [interColor]="'#71dac0'"
                                 [highColor]="'#71dac0'"
                                 [border]="14"
                                 [time]="1"
                                 [fontSize]="30"
                                 (click)="circleProg1.animate()"
                ></circle-progress>
            </div>
        </div>

</div>



<!--==================== КИРИЛЛ ====================-->
<!--<div class="main-content-header-block">-->
    <!--<h1 class="main-content-header">Bienvenue dans votre tableau de bord</h1>-->
<!--</div>-->
<!--<div class="main-content-wrapper col-md-12">-->
    <!--<div class="col-xs-12 col-sm-12 col-md-12">-->

        <!--<div style='text-align: center'>-->
            <!--<div class='circle-wrapper' *ngFor='let progressBar of progressBarValues'>-->
                <!--<circle-progress #circleProg1-->
                                 <!--[percent]=progressBar.value-->
                                 <!--[caption]=progressBar.name-->
                                 <!--[boxSize]="160"-->
                                 <!--[backgroundColor] = "'#8d8d8d'"-->
                                 <!--[radius]="80"-->
                                 <!--[lowColor]="'#71dac0'"-->
                                 <!--[middleColor]="'#71dac0'"-->
                                 <!--[interColor]="'#71dac0'"-->
                                 <!--[highColor]="'#71dac0'"-->
                                 <!--[border]="14"-->
                                 <!--[time]="1"-->
                                 <!--[fontSize]="30"-->
                                 <!--(click)="circleProg1.animate()"-->
                <!--&gt;</circle-progress>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
