div.circle-wrapper{
    display: inline-block;
    margin: 10px 40px 10px 40px;
}

.main-content-header-block {
    background-color: white;
    height: 140px;
    width: 100%;
    display: table;
}
.main-content-header {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
h1{
    width: 100%;
}

/* Media Query */
/*@media screen and (max-width: 1060px) {*/
    /*!*.solution-wrapper > div.solution > div:nth-of-type(2)*!*/
    /*div.circle-wrapper{*/
        /*margin: 10px 0.5% 10px 0.5% ;*/
    /*}*/
/*}*/
@media screen and (max-width: 700px) {
    /*.solution-wrapper > div.solution > div:nth-of-type(2)*/
    div.circle-wrapper{
        margin: 10px 2% 10px 2%;
    }
}