<!--<p>-->
  <!--admin-bibliotheque-content works!-->
<!--</p>-->

<!--<div style="height: 1200px;">-->



<header class="main-header">
    <h1>Bibliothèque</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">
        <button class="add-an-item-button"></button>
        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default library-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Nom</th>
                <th>
                    <button class="double-sort-button">
                        <span></span>
                        <span></span>
                    </button>
                    <span>Lien</span>
                </th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">http://www.lien1.com</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Nom de l’entreprise, maximum 40 caractères...</td>
                <td><a href="javascript:void(0);">https://www.lienquiesttroplong-max-40-let...</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">http://www.lien1.com</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Nom de l’entreprise, maximum 40 caractères...</td>
                <td><a href="javascript:void(0);">https://www.lienquiesttroplong-max-40-let...</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">http://www.lien1.com</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Nom de l’entreprise, maximum 40 caractères...</td>
                <td><a href="javascript:void(0);">https://www.lienquiesttroplong-max-40-let...</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">http://www.lien1.com</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Nom de l’entreprise, maximum 40 caractères...</td>
                <td><a href="javascript:void(0);">https://www.lienquiesttroplong-max-40-let...</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">http://www.lien1.com</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            <tr>
                <td>Nom de l’entreprise, maximum 40 caractères...</td>
                <td><a href="javascript:void(0);">https://www.lienquiesttroplong-max-40-let...</a></td>
                <td>Gérer / Supprimer</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
