admin-bibliotheque-modal h2 {
    margin-top: 2px;
}

admin-bibliotheque-modal .modal-form textarea {
    margin: 0px 0 18px 0;
}

admin-bibliotheque-modal .modal-content .button-wrapper button {
    margin-left: 16px;
}