<header class="main-header">
    <h1>Groupes de salariés</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">

        <button class="add-an-item-button" (click)="myModal.open()"></button>

        <client-groupes-modal #myModal>
            <modal-header>
                <h2>Ajouter un groupe</h2>
            </modal-header>

            <modal-content>
                <form #client_newGroupesForm="ngForm" class="modal-form" novalidate (click)='cancellSuccessMessage()'>
                    <!--(ngSubmit)="submitNewSitesFunction(client_newGroupesForm)"-->

                    <div class="input-wrapper">
                        <p [hidden]="name.invalid" class="requred-field color-valid">Nom</p>
                        <input class="form-control"  placeholder="Nom*" type="text"
                               #name="ngModel" id="name" name='name' required (ngModel)="name" />
                        <p [hidden]="name.valid || name.untouched" class="requred-field ">Champs requis</p>
                    </div>
                    <div class="control-group">
                        <label class="control control--checkbox">Accès Admin (entreprise + sites)
                            <input type="checkbox" checked="checked"
                                   #adminAccess="ngModel" id="adminAccess"
                                   name='adminAccess' (ngModel)="adminAccess" />
                            <span class="control__indicator"></span>
                        </label>
                    </div>
                </form>
                <div *ngIf="errorCreating" style='position: fixed;' class="alert alert-danger">{{errorCreating}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='cancellErrorMessage()'>
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div *ngIf="successCreating" style='position: fixed;' class="alert alert-success">{{successCreating}}</div>
            </modal-content>

            <modal-footer>
                <div class="button-wrapper">
                    <button type="button" class="form-button red-button annuler-button" data-dismiss="modal"
                            (click)="myModal.close()"  (click)='gotoClientGroupesForm()'>Annuler</button>
                    <button type="submit" class="form-button green-button creer-button" data-dismiss="modal"
                            (click)='submitForm(name.value,
                                                adminAccess.status)'
                            [disabled]="!client_newGroupesForm.form.valid">Créer</button>
                    <br>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </modal-footer>
        </client-groupes-modal>


        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default groupe-de-salaries-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Nom du groupe</th>
                <th>
                    <button class="double-sort-button">
                        <span></span>
                        <span></span>
                    </button>
                    <span>Accès</span>
                </th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let groupe of groupes">
                    <td>{{groupe.name}}</td>
                    <td>{{groupe.name}}</td>
                    <!--<td>{{groupe.admin_access}}</td>-->
                    <td><a href="javascript:void(0);">Gérer</a> / <a href="javascript:void(0);">Supprimer</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>