.salaries-site-table td:nth-of-type(3), .salaries-site-table td:nth-of-type(4) {
    text-align: left;
    padding-left: 24px;
}
@media screen and (max-width: 1599px){
    .table-default td:nth-of-type(5),
    .table-default td:nth-of-type(6),
    .table-default td:nth-of-type(7){
        padding-left: 4px;
        padding-right: 4px;
        text-align: center !important;
    }
}
@media screen and (max-width: 1299px) {
    .table-default td:nth-of-type(5),
    .table-default td:nth-of-type(6),
    .table-default td:nth-of-type(7){
        padding-left: 4px;
        padding-right: 4px;
        text-align: center !important;
    }
}
