<div id='left-menu'>
            <div id='logo' class="center-block">
                <div class='img-holder'>
                    <img src="../../../assets/img/logo.png" class='img-responsive center-block' alt="online">
                </div>
                <p class='text-center'>online</p>
            </div>
            <ul class="pull-left">
                <li routerLinkActive="active" [routerLink]="['/admin/accueil']">
                    <a href="#">Accueil</a>
                </li>
                <li routerLinkActive="active" [routerLink]="['/admin/reglages']">
                    <a href="#">Règlages</a>
                </li>
                <li routerLinkActive="active" [routerLink]="['/admin/client']">
                    <a href="#">Client</a>
                </li>
                <li routerLinkActive="active" [routerLink]="['/admin/bibliotheque']">
                    <a href="#">Bibliothèque</a>
                </li>
            </ul>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div id='left-menu' class="pull-left col-sm-4 col-md-4 col-lg-4" >-->
            <!--<div id='logo' class="center-block">-->
                <!--<div class='img-holder'>-->
                    <!--<img src="../../../assimg/pic/logo.png" class='img-responsive center-block' alt="online">-->
                <!--</div>-->
                <!--<p class='text-center'>online</p>-->
            <!--</div>-->
            <!--<ul class="pull-left">-->
                <!--<li><a href="#">Accueil</a></li>-->
                <!--<li><a href="#">Règlages</a></li>-->
                <!--<li><a href="#">Client</a></li>-->
                <!--<li><a href="#">Bibliothèque</a></li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

