<div class="sidebar"  (click)='verifyUserRole()'>

    <!--<navbar-for-delete></navbar-for-delete>-->

    <div class="brand-wrapper">
        <a class="brand" href="javascript:void(0);">
            <img src="../../../../assets/img/main-logo.png" alt="main-logo">
            <p>Online</p>
        </a>
    </div>
    <!-- Menu icon -->
    <div id="nav-icon1" class="visible-xs visible-sm">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="sidebar-nav">
        <ul class="list-unstyled">
            <li [routerLink]="['/sfsalarie']">
                <a href="javascript:void(0);">
                    Mon profil
                </a>
            </li>
            <li  >
                <a href="javascript:void(0);" (click)="openLinkInNewWindowFunction()">
                    Mon compte formation
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/sfsalarie/fichiers']">
                <a href="javascript:void(0);">
                    Fichiers
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="li-lg" routerLinkActive="active" [routerLink]="['/sfsalarie/fiches-machines']">
                <a href="javascript:void(0);">
                    Fiches Machines
                </a>
            </li>
            <li class="li-lg" routerLinkActive="active" [routerLink]="['/sfsalarie/visite-medicale']">
                <a href="javascript:void(0);">
                    Visite médicale
                </a>
            </li>
            <li class="li-lg" routerLinkActive="active" [routerLink]="['/sfsalarie/caces']">
                <a href="javascript:void(0);">
                    Caces
                </a>
            </li>
            <li class="li-lg" routerLinkActive="active" [routerLink]="['/sfsalarie/attestations']">
                <a href="javascript:void(0);">
                    Attestations / Habilit.
                </a>
            </li>
            <li class="li-lg" routerLinkActive="active" [routerLink]="['/sfsalarie/autorisations-conduite']">
                <a href="javascript:void(0);">
                    Autorisations conduite
                </a>
            </li>

          <!--<li *ngIf='showClientData' class="back-to-admin-link" [routerLink]="['/client']">-->
            <!--<a href="javascript:void(0);">-->
              <!--&lt; Retour au client-->
            <!--</a>-->
          <!--</li>-->
          <!--<li *ngIf='showAdminData' class="back-to-admin-link" [routerLink]="['/admin']">-->
            <!--<a href="javascript:void(0);">-->
              <!--&lt; Retour à l’admin-->
            <!--</a>-->
          <!--</li>-->

          <li class="back-to-admin-link" (click)='logoutFunction()' [routerLink]="['']">
                <a href="javascript:void(0);">
                    &lt; Logout
                </a>
            </li>
        </ul>
    </nav>
</div>
