.notifications-table th:nth-of-type(2),
.notifications-table th:nth-of-type(3),
.notifications-table td:nth-of-type(2),
.notifications-table td:nth-of-type(3){
  padding-left: 22px !important;
  padding-right: 22px !important;
  text-align: center !important;
}
.ajouter-responsables-table th:nth-of-type(3),
.ajouter-responsables-table th:nth-of-type(4),
.ajouter-responsables-table td:nth-of-type(3),
.ajouter-responsables-table td:nth-of-type(4){
  padding-left: 22px !important;
  padding-right: 22px !important;
  text-align: center !important;
}

/* AJOUTER UN OU DES RESPONSABLE(S) DE SITE MODAL */

site-reglages-modal .modal-content {
  min-width: 882px;
  max-width: 882px;
}

site-reglages-modal .input-wrapper {
  position: relative;
}

site-reglages-modal .input-wrapper button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 42px;
  height: 42px;
  background: #3ba890;
  display: block;
  border: none;
}
#findSalarieByName {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 0;
  color: #8d8d8d;
  width: 100%;
  height: 42px !important;
}
site-reglages-modal .input-wrapper button span {
  background: url(../../../../assets/img/plus-icon-white.png) no-repeat center;
  width: 30px;
  height: 24px;
  display: block;
}

site-reglages-modal .table-wrapper {
  padding-top: 2px;
}

site-reglages-modal .form-control {
  width: 100% !important;
}

/*@media screen and (max-width: 1199px){*/
.ajouter-responsables-table td:nth-of-type(3),
.ajouter-responsables-table td:nth-of-type(4) {
  text-align: center !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
/*}*/


.loading_ok {
  left: 2px;
  top: -14px;
}

#loadedImg {
  height: 107px;
  width: 140px;
  display: block;
  background-position: center !important;
  background-size: cover !important;
  z-index: 100;
  position: relative;
}
.image-upload label span {
  background: url(../../../../assets/img/ajouter-un-logo-img.png) no-repeat center;
  height: 107px;
  width: 140px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
