.engine-detailed-info,
.verification-generale-periodique {
  min-width: 346px;
  float: left;
}

.qr-code-wrapper,
.immat-n-parc {
  min-width: 139px;
  float: left;
}

.engine-detailed-info,
.qr-code-wrapper {
  min-height: 139px;
}

.immat-n-parc .form-subheader {
  text-align: center;
}

.qr-code-wrapper img {
  margin-top: -3px;
}

.engine-detailed-info .form-subheader {
  margin-bottom: 12px;
}

.engine-detailed-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  margin-bottom: 0;
}

.engine-detailed-info p span {
  font-weight: bold;
}
.engine-detailed-info .form-subheader {
  margin-bottom: 19px;
  text-align: left;
}
.autres-fichiers-wrapper {
  padding-top: 21px;
  margin-bottom: 23px;
}
.autres-fichiers {
  text-align: left;
  background-color: #bdbdbd;
  line-height: 42px;
  padding-left: 20px;
}

@media (max-width: 991px) {
  .parc-machine-modal h2,
  .parc-machine-modal .form-subheader {
    text-align: center;
    padding-left: 0 !important;
  }

  .parc-machine-modal .tab-pane  {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .calendar-wrapper,
  .parc-machine-modal a:not(.navigation-back-button) {
    width: 100% !important;
  }
  /*.engine-detailed-info,*/
  /*.verification-generale-periodique,*/
  /*.immat-n-parc {*/
    /*min-width: 100%;*/
    /*min-height: 1px;*/
    /*margin-bottom: 15px;*/
  /*}*/

  .verification-generale-periodique button,
  .immat-n-parc button {
    float: none !important;
  }

}

div.verification-generale-periodique a {
  padding-top: 9px;
}
div.verification-generale-periodique a:hover,
div.verification-generale-periodique a:visited,
div.verification-generale-periodique a:active,
div.verification-generale-periodique a:focus{
  text-decoration: none;
  color: white;
}
