<header class="main-header">
    <h1>Fiches machines</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">
        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default fiches-machines-table">
            <thead>
                <tr>
                    <th *ngFor="let header of headers" (click)="tableSortService.changeSorting(header.variable)">
                        <button [class]="tableSortService.selectedClass(header.variable)" ></button>
                        {{header.display}}
                    </th>
                    <th>
                        <span>Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf='emptyTable'>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td>Engin</td>
                    <td>000-0000-0000</td>
                    <td><a href="javascript:void(0);">Voir</a></td>
                </tr>
                <tr>
                    <td>Vehicule</td>
                    <td>AA-0000-AA</td>
                    <td><a href="javascript:void(0);">Voir</a></td>
                </tr>
                <tr>
                    <td>Engin</td>
                    <td>000-0000-0000</td>
                    <td><a href="javascript:void(0);">Voir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav *ngIf="totalItems > 10" aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>



<button class="add-an-item-button" (click)="salarieFiches.open()">ssssss</button>

<salarie-fiches-modal  #salarieFiches>
    <modal-header-SSF>
        <h2>Détails de l’engin</h2>
    </modal-header-SSF>

    <modal-content-SSF>
        <div class="engine-detailed-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='salarieFiches.close()'>
                <span aria-hidden="true"></span>
            </button>

            <p class="form-subheader text-center">Grue mobile R.383m</p>
            <p><span>Catégorie :</span> Non routier - sur bandage ou rail</p>
            <p><span>Marque :</span> Nom de la Marque</p>
            <p><span>Modèle :</span> Nom du Modèle</p>
            <p><span>N° Parc :</span> numéro de parc</p>
            <p><span>Date d’expiration VGP :</span> 00/00/0000</p>
        </div>
        <div class="qr-code-wrapper">
            <p class="form-subheader text-center">QR Code</p>
            <img src="../../../../assets/img/qr-code-img.png" alt="qr-code-img">
        </div>
        <div class="clearfix"></div>
        <div class="verification-generale-periodique">
            <p class="form-subheader text-center">Vérification Générale Périodique</p>
            <button class="form-button dark-green-button telecharger-button pull-left">Télécharger</button>
        </div>
        <div class="immat-n-parc">
            <p class="form-subheader text-center">immat - n° parc</p>
            <button class="form-button dark-green-button telecharger-button pull-left">Télécharger</button>
        </div>
        <div class="clearfix"></div>
        <div class="autres-fichiers-wrapper button-file-input-wrapper">
            <p class="form-subheader text-center">Autres fichiers</p>
            <div class="image-upload">
                <p>Fichier 1</p>
                <label for="file-input4">
                    <span>Télécharger</span>
                </label>
                <input id="file-input4" type="file">
            </div>
        </div>
        <button type="submit" class="form-button green-button modifier-button pull-right" data-dismiss="modal">Modifier</button>

    </modal-content-SSF>

    <modal-footer-SSF>
    </modal-footer-SSF>
</salarie-fiches-modal>



<!--<div role="tabpanel" class="tab-pane fade in active" id="r383-details-extended">-->
  <!--<h2>Détails de l’engin</h2>-->
  <!--<div class="engine-detailed-info">-->
    <!--<p class="form-subheader text-center">Grue mobile R.383m</p>-->
    <!--<p><span>Catégorie :</span> Non routier - sur bandage ou rail</p>-->
    <!--<p><span>Marque :</span> Nom de la Marque</p>-->
    <!--<p><span>Modèle :</span> Nom du Modèle</p>-->
    <!--<p><span>N° Parc :</span> numéro de parc</p>-->
    <!--<p><span>Date d’expiration VGP :</span> 00/00/0000</p>-->
    <!--<p><span>Equipement :</span> téléscopique avec fléchette</p>-->
  <!--</div>-->
  <!--<div class="qr-code-wrapper">-->
    <!--<p class="form-subheader text-center">QR Code</p>-->
    <!--<img src="../../../../assets/img/qr-code-img.png" alt="qr-code-img">-->
  <!--</div>-->
  <!--<div class="clearfix"></div>-->
  <!--<div class="verification-generale-periodique">-->
    <!--<p class="form-subheader text-center">Vérification Générale Périodique</p>-->
    <!--<button class="form-button dark-green-button telecharger-button pull-left">Télécharger</button>-->
  <!--</div>-->
  <!--<div class="immat-n-parc">-->
    <!--<p class="form-subheader text-center">immat - n° parc</p>-->
    <!--<button class="form-button dark-green-button telecharger-button pull-left">Télécharger</button>-->
  <!--</div>-->
  <!--<div class="clearfix"></div>-->
  <!--<div class="autres-fichiers-wrapper button-file-input-wrapper">-->
    <!--<p class="form-subheader text-center">Autres fichiers</p>-->
    <!--<div class="image-upload">-->
      <!--<p>Fichier 1</p>-->
      <!--<label for="file-input4">-->
        <!--<span>Télécharger</span>-->
      <!--</label>-->
      <!--<input id="file-input4" type="file">-->
    <!--</div>-->
  <!--</div>-->
  <!--<button type="submit" class="form-button green-button modifier-button pull-right" data-dismiss="modal">Modifier</button>-->
<!--</div>-->
