
html {
    height: 100%;
    overflow-x: hidden;
}
html {
  position: relative;
}
body {
  height: 100%;
}
/* IE viewport fix */
@-ms-viewport{
    width:auto!important;
}


body, .main-wrapper {
    /*max-width: 1600px;*/
    /*min-width: 320px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


@media (min-width: 992px) {
    body, .main-wrapper {
        display: flex;
        align-items: stretch;
        min-height: 100vh;
    }
    body::after, .main-wrapper::after{
        content: '';
        height: 100vh;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        float: left;
    }
}
