
<div class="background">
    <div class='image-wrapper'>
        <img id='logo-painted' src="../../../../assets/img/safety_network.png" class='img-adaptive' alt="logo">
    </div>

    <div class="wrapper">
        <div *ngIf="errorLoad" class="alert alert-danger alert-dismissible fade in" role="alert" style='position: absolute;'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='cancellErrorMessage()'>
                <span aria-hidden="true"></span>
            </button>
            <p>SAFETY: <span>{{errorLoad}}</span></p>
        </div>

        <div class="login-block">
            <div class="caption">
                <div>Safetyfirst</div>
                <br>
                <div>Formation manager</div>
            </div>

            <div class="main">
                <form action="/" id="login-rappeler-form">
                    <p>Vous avez oublié votre mot de passe ?</p>
                    <p>Nous allons vous en envoyer un autre par email.</p>
                    <div class="form-group">
                        <input type="email" class="form-control" id="loginInputEmail" placeholder="Email">
                    </div>
                    <div class="button-wrapper">
                        <button type="submit"
                                class="form-button password-envoi-button"
                                (click)="EnvoyerEmailFunction()">Envoi
                        </button>
                    </div>
                </form>

            </div>

            <div class="footer">
                <div>Pas encore d'accès ?</div>
                <br>
                <div>Découvrez nos solutions !</div>
                <br>
                <div class="solution-wrapper">
                    <div class="solution" [routerLink]="['/site/accueil']">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_b.png" alt="PRO">
                        </div>
                        <div>PRO</div>
                    </div>
                    <div class="solution" [routerLink]="['/site/accueil']">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="SAFE">
                        </div>
                        <div>SAFE</div>
                    </div>
                    <div class="solution"  [routerLink]="['/site/accueil']">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="DATA">
                        </div>
                        <div>DATA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>