<div class="background">
    <div class='image-wrapper' [routerLink]="['/reset-password']">
        <img id='logo-painted' src="../../../../assets/img/safety_network.png" class='img-adaptive' alt="logo">
    </div>

    <div class="wrapper">
        <div *ngIf="errorLoad" class="alert alert-danger alert-dismissible fade in" role="alert" style='position: absolute;'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='cancellErrorMessage()'>
                <span aria-hidden="true"></span>
            </button>
            <p>SAFETY: <span>{{errorLoad}}</span></p>
        </div>
        <div *ngIf="successCreating" class="alert alert-success">{{successCreating}}</div>

        <div class="login-block">
            <div class="caption">
                <div>Safetyfirst</div>
                <br>
                <div>Formation manager</div>
            </div>

            <div class="main">
                <form #loginRappelerForm="ngForm" id="loginRappelerForm" novalidate>
                    <p>Vous avez oublié votre mot de passe ?</p>
                    <p>Nous allons vous en envoyer un autre par email.</p>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email"
                                #loginInputEmail="ngModel" id="loginInputEmail" name='loginInputEmail' required email ngModel/>
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" [disabled]="!loginRappelerForm.form.valid"
                                class="form-button password-envoi-button"
                                (click)="EnvoyerEmailFunction(loginInputEmail.value)">Envoi
                        </button>
                        <br>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </div>

            <div class="footer">
                <div>Pas encore d'accès ?</div>
                <br>
                <div>Découvrez nos solutions !</div>
                <br>
                <div class="solution-wrapper">
                    <div class="solution" >   <!-- [routerLink]="['/site']"-->
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_b.png" alt="PRO">
                        </div>
                        <div>PRO</div>
                    </div>
                    <div class="solution" >   <!-- [routerLink]="['/site']"-->
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="SAFE">
                        </div>
                        <div>SAFE</div>
                    </div>
                    <div class="solution" >   <!-- [routerLink]="['/site']"-->
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="DATA">
                        </div>
                        <div>DATA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
