.profil-form .button-wrapper .control {
    padding-top: 0px;
    margin-bottom: 24px;
}

.loading_ok {
    left: 2px;
    top: -14px;
}

/*input:disabled {*/
    /*background-color: #d3d3d3;*/
    /*color: #808080;*/
    /*cursor:default;*/
/*}*/