.profil-form .button-wrapper .control {
    padding-top: 0;
    margin-bottom: 24px;
}

.loading_ok {
    left: 2px;
    top: -14px;
}


#loadedImg {
  height: 107px;
  width: 140px;
  display: block;
  background-position: center !important;
  background-size: cover !important;
  z-index: 100;
  position: relative;
}

