h2 {
    margin-top: 1px;
}

.ajouter-un-site-table th:first-of-type, .ajouter-un-site-table td:first-of-type {
    width: 80.25%;
}
modal-content div.input-wrapper{
    position: relative;
}

/*==== error message ====*/
header.main-header {
    position: relative;
}
.alert-danger {
    height: auto;
    top: -20px;
}
.alert-danger .close {
    padding: 10px 10px 10px 10px;
}
/*=end=== error message ====*/


.requred-field {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 10px !important;
    color: #f32938;
    position: absolute !important;
    bottom: 7px !important;
    left: 0 !important;
}
p.color-valid {
    color: #3ba890
}
@media (max-width: 991px) {
    .search-panel p, .search-wrapper {
        width: auto;
        float: none;
    }

    .search-panel p {
        margin-bottom: 0;
        letter-spacing: -.15px;
    }
}

