<div class="sidebar"  (click)='verifyUserRole()'>

    <!--<navbar-for-delete></navbar-for-delete>-->

    <div class="brand-wrapper">
        <a class="brand" href="javascript:void(0);">
            <img src="../../../../assets/img/main-logo.png" alt="main-logo">
            <p>Online</p>
        </a>
    </div>
    <!-- Menu icon -->
    <div id="nav-icon1" class="visible-xs visible-sm">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="sidebar-nav">
        <ul class="list-unstyled">
            <li  routerLinkActive="active" [routerLink]="['/site/accueil']">
                <a href="javascript:void(0);">
                    Accueil
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/site/reglages']">
                <a href="javascript:void(0);">
                    Réglages
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/site/fichiers']">
                <a href="javascript:void(0);">
                    Fichiers
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/site/parc']">
                <a href="javascript:void(0);">
                    Parc Machines
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/site/salaries']">
                <a href="javascript:void(0);">
                    Salariés
                </a>
            </li>

            <li *ngIf='showLogin' class="back-to-admin-link" [routerLink]="['/login']">
                <a href="javascript:void(0);">
                    &lt; Retour à login
                </a>
            </li>
            <li *ngIf='showClientData' class="back-to-admin-link" [routerLink]="['/client/accueil']">
                <a href="javascript:void(0);">
                    &lt; Retour au client
                </a>
            </li>
            <li *ngIf='showAdminData' class="back-to-admin-link" [routerLink]="['/admin/accueil']">
                <a href="javascript:void(0);">
                    &lt; Retour à l’admin
                </a>
            </li>
        </ul>
    </nav>
</div>