<div class="sidebar">

    <navbar-for-delete></navbar-for-delete>

    <div class="brand-wrapper">
        <a class="brand" href="javascript:void(0);">
            <img src="img/main-logo.png" alt="main-logo">
            <p>Online</p>
        </a>
    </div>
    <!-- Menu icon -->
    <div id="nav-icon1" class="visible-xs visible-sm">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="sidebar-nav">
        <ul class="list-unstyled">
            <li class="active">
                <a href="javascript:void(0);">
                    Accueil
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Réglages
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Fichiers
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Parc Machines
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    Salariés
                </a>
            </li>
            <li class="back-to-admin-link">
                <a href="javascript:void(0);">
                    &lt; Retour à l’admin
                </a>
            </li>
        </ul>
    </nav>
</div>