<header class="main-header">
    <h1>Fichiers</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">
        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default attestations-de-formation-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Nom du fichier</th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Le nom du fichier est un nom qui peut être vraiment très très long, au maximum 90 caractères mmmmmm...</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Le nom du fichier est un nom qui peut être vraiment très très long, au maximum 90 caractères mmmmmm...</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Le nom du fichier est un nom qui peut être vraiment très très long, au maximum 90 caractères mmmmmm...</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Le nom du fichier est un nom qui peut être vraiment très très long, au maximum 90 caractères mmmmmm...</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Lien 1</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Le nom du fichier est un nom qui peut être vraiment très très long, au maximum 90 caractères mmmmmm...</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
