<header class="main-header">
    <h1>Groupes de salariés</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">

            <button class="add-an-item-button" (click)="myModal.open()"></button>

            <client-groupes-modal #myModal>
                <modal-header>
                    <h2>Ajouter un groupe</h2>
                </modal-header>

                <modal-content>
                    <form action="/" class="modal-form">
                        <div class="input-wrapper">
                            <input class="form-control" id="exampleInputEmail1" placeholder="Nom*" type="text">
                            <p class="requred-field hidden">Champs requis</p>
                        </div>
                        <div class="control-group">
                            <label class="control control--checkbox">Accès Admin (entreprise + sites)
                                <input type="checkbox"/>
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                    </form>
                </modal-content>

                <modal-footer>
                    <div class="button-wrapper">
                        <button type="submit" class="form-button red-button annuler-button" data-dismiss="modal"
                                (click)="myModal.close()">Annuler</button>
                        <button type="submit" class="form-button green-button creer-button" data-dismiss="modal">Créer</button>
                    </div>
                </modal-footer>
            </client-groupes-modal>


        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default groupe-de-salaries-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Nom du groupe</th>
                <th>
                    <button class="double-sort-button">
                        <span></span>
                        <span></span>
                    </button>
                    <span>Accès</span>
                </th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom du groupe 1</td>
                <td>Admin</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
                <td>-</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom du groupe 1</td>
                <td>Admin</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
                <td>-</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom du groupe 1</td>
                <td>Admin</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
                <td>-</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom du groupe 1</td>
                <td>Admin</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
                <td>-</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Nom du groupe 1</td>
                <td>Admin</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            <tr>
                <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
                <td>-</td>
                <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-wrapper">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous" class="prev-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
            <li><a href="javascript:void(0);">...</a></li>
            <li><a href="javascript:void(0);">998</a></li>
            <li><a href="javascript:void(0);">999</a></li>
            <li>
                <a href="javascript:void(0);" aria-label="Next" class="next-link">
                  <span aria-hidden="true">
                    <img src="../../../../../assets/img/pagination-arrow.png" alt="pagination-arrow">
                  </span>
                </a>
            </li>
        </ul>
    </nav>
</div>