th {
   padding-left: 0 !important;
}
.profil-form .input-wrapper {
    float: left;
    margin-right: 23px;
    margin-bottom: 23px;
}

.input-wrapper {
    position: relative;
}

.profil-form .input-wrapper:nth-of-type(2n) {
    margin-right: 0;
}
.radio-label{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    padding-left: 1px;
    padding-top: 1px;
}
.radio-btn-inline {
    padding-top: 2px;
}
.radio-btn-inline .radio {
    /*display: inline-block;*/
    margin-right: 15px;
    margin-bottom: 18px;
}
.radio input[type="radio"] + .radio-label:before {
    top: 3px;
    margin-right: 1.6em;
}
.radio {
    position: relative;
    margin-top: 0;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    /*margin-left: -20px;*/
}


.datepicker-default {
    top: 0;
    margin-right: 12px;
    height:42px;
}
p.form-subheader {
    font-family: 'Righteous', cursive !important;
    font-size: 16px !important;
    padding-top: 4px;
}
button {
    font-family: 'Righteous', OpenSans-Regular;
    font-size: 16px;
}
.one-column-input-wrapper p.form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
}

.modifier-button {
    width: 119px !important;
    height: 42px !important;
    margin-bottom: 23px !important;
}

div.profile-img-wrapper {
    margin-top: 19px !important;
    margin-bottom: 15px !important;
}

.form-divider {
    margin-bottom: 16px;
}

.form-subheader {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    padding-top: 5px;
}

.form-divider + .one-column-input-wrapper + .one-column-input-wrapper .calendar-wrapper {
    margin-top: 13px;
    margin-bottom: 15px;
    width: 100%;
}

.calendar-wrapper p {
    padding-top: 0;
    padding-left: 12px;
}

.calendar-wrapper {
    padding-top: 5px !important;
    margin-bottom: 21px !important;
}
.image-upload {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    height: 250px !important;
    width: 250px !important;
    border: 1px solid #bdbdbd;
    padding-left: 11px;
    padding-top: 8px;
    position: relative;
    display: inline-block;
}
.image-upload p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    float: left;
    letter-spacing: -.15px;
}

.image-upload label {
    width: 42px;
    height: 42px;
    background: #3ba890;
    position: absolute;
    right: -1px;
    top: -1px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.image-upload > input {
    display: none;
}
.image-upload label span {
    background: url(../../../../../assets/img/plus-icon-white.png) no-repeat center;
    background-position: 55% 40%;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.search-panel p {
    margin-top: 3px;
}

@media (max-width: 1599px) {
    .calendar-wrapper{
        width: 100%;
    }
}

@media (max-width: 1599px) {
    .calendar-wrapper .datepicker-default {
        margin-right: 12px;
    }
    .datepicker-default {
        margin-right: 12px;
    }
}

@media (max-width: 991px) {
    .datepicker-default {
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/*========= modal window ============*/
modal-header-SSAtt h2,
modal-header-SSAut h2{
    width: 484px;
    font-size: 30px;
    text-align: left;
}
modal-content-SSAtt .form-control {
    width: 404px !important;
}
@media (max-width: 1599px) {
    modal-content-SSAtt  .form-control,
    modal-header-SSAut   .form-control {
        width: 100% !important;
    }
}

/*modal-header-SSAut h2 {*/
    /*width: 483px;*/
/*}*/
/*==end======= modal window ============*/
/* AUTORISATION DE CONDUITE MODAL */

.autorisation-de-conduite-modal h2 {
    margin-bottom: 15px;
}

.autorisation-de-conduite-modal .form-subheader {
    text-align: left;
    margin-bottom: 20px;
}

.autorisation-de-conduite-modal #dropdown-tabs {
    margin-bottom: 24px;
}

.table-default {
  margin-bottom: 24px;
}
.autorisation-de-conduite-modal .button-wrapper {
    margin-top: -4px;
}

.autorisation-de-conduite-modal .ok-button {
    margin-bottom: 20px;
}

.autorisation-de-conduite-modal .control-group .form-subheader {
    margin-bottom: 20px;
}

.button-wrapper {
  text-align: right;
}
.button-wrapper button{
  margin-top: 22px;
  margin-left: 20px;
}

.autorisation-de-conduite-modal .control {
    text-align: left;
    padding-top: 0;
    padding-left: 44px;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    display: block;
}

.autorisation-de-conduite-modal .control__indicator {
    top: 0;
    left: 1px;
}

.autorisation-de-conduite-modal .control-group {
    margin-bottom: 26px;
}

.autorisation-de-conduite-modal .annuler-button {
    width: 131px;
}

.autorisation-de-conduite-modal .vehicle-type {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-align: left;
    margin-top: -7px;
    margin-bottom: 21px;
}

.autorisation-de-conduite-modal .radio {
    text-align: left;
    margin-bottom: 12px;
}

.autorisation-de-conduite-modal .radio input[type="radio"] + .radio-label::before {
    margin-right: 25px;
}

/* ATTESTATION HABILITATION MODAL */

.attestation-habilitation-modal .input-wrapper {
    margin-bottom: 35px;
}

.attestation-habilitation-modal .calendar-wrapper {
    margin-bottom: 25px !important;
}

.attestation-habilitation-modal .calendar-wrapper + .calendar-wrapper {
    margin-bottom: 10px !important;
}

.attestation-habilitation-modal .form-subheader {
    text-align: left;
    margin-bottom: 19px;
}

.attestation-habilitation-modal .autres-fichiers-wrapper {
    padding-top: 0;
}

.attestation-habilitation-modal .autres-fichiers-wrapper .image-upload label span {
    background: url(../../../../../assets/img/plus-icon-white.png) no-repeat center;
}


.form-subheader {
    margin-bottom: 21px;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    padding-top: 5px;
    font-weight: bold;
    color: #000;
}


.attestations-de-formation-table th:nth-of-type(1),
.attestations-de-formation-table td:nth-of-type(1) {
    width: 34%;
    text-align: left !important;
    padding-left: 23px !important;
}
.attestations-de-formation-table th:nth-of-type(2),
.attestations-de-formation-table td:nth-of-type(2),
.attestations-de-formation-table th:nth-of-type(3),
.attestations-de-formation-table td:nth-of-type(3) {
    width: 22%;
    text-align: left !important;
    padding-left: 23px !important;
}

.attestations-de-conduite-table th:nth-of-type(1),
.attestations-de-conduite-table td:nth-of-type(1) {
    width: 70%;
    text-align: left !important;
    padding-left: 23px !important;
}

.scroll-vert {
  overflow-y: scroll !important;
}
div.select-wrapper{
  width: 100%;
  height: 42px;
  overflow: hidden;
}
select {
  width: 100%;
  height: 42px;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8d8d8d !important;
  position: relative;
  border: 1px solid #bdbdbd !important;
  border-radius: 0;
  text-align: left;
  display: block;
  padding: 10px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  box-sizing: border-box;
  position: relative;
}
select option {
  line-height: 1.42857143;
  padding: 10px 15px !important;
}
span.caret{
  position: absolute;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  cursor: default;
  right: 0;
  top: 47px;
  width: 42px;
  height: 42px;
  background: url(../../../../../assets/img/dropdown-caret.png) no-repeat;
  border: none;
  border-radius: 0;
}
div.control-group {
  min-height: 295px;
}

.modal-sm .modal-content {
  padding-bottom: 24px !important;
}
.profil-form {
  float: none;
}

/*// Classes*/
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
