<header class="main-header">
    <h1>Création d’un salarié</h1>
</header>
<div class="main-content" style="padding-top: 12px;" #createSalary2>
    <form action="/" class="profil-form">
        <h2>Etape 2</h2>
        <div class="one-column-input-wrapper">
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText1" placeholder="Durand">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText2" placeholder="Paul">
                <p class="requred-field hidden">Champs requis</p>
            </div>
        </div>
        <div class="one-column-input-wrapper">
            <div class="input-wrapper">
                <input type="email" class="form-control" id="exampleInputText3" placeholder="durandpaul@email.com">
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText4" placeholder="Cariste">
            </div>
        </div>
        <div class="one-column-input-wrapper">
            <div class="calendar-wrapper clearfix">
                <p class="form-label" style="font-family:'Open Sans',sans-serif;
                                            font-size:14px;
                                            padding-left:10px;
                                            padding-top:10px;">Date de naissance*</p>
                <input type="text" name="selected_date" id="datepicker1" class="datepicker-default" />
                <div class="clearfix"></div>
            </div>
            <div class="input-wrapper" style="margin-bottom: 15px;">
                <input type="text" class="form-control" id="exampleInputText5" placeholder="112907522233344">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="clearfix"></div>
            <p class="form-subheader">Photo</p>
            <div class="profile-img-wrapper">
                <img src="../../../../../assets/img/progile_image.jpg" alt="progile_image">
            </div>

            <p class="form-subheader">Groupe de salariés</p>
            <div class="radio-btn-inline">
                <div class="radio">
                    <input id="radio-11" name="radio1" checked="" type="radio">
                    <label for="radio-11" class="radio-label">Groupe 1</label>
                </div>
                <div class="radio">
                    <input id="radio-12" name="radio1" checked="checked" type="radio">
                    <label for="radio-12" class="radio-label">Groupe 2</label>
                </div>
            </div>

            <button class="form-button green-button modifier-button" data-dismiss="modal">Modifier</button>
        </div>
        <div class="one-column-input-wrapper">
            <div>
                <p class="form-label" style="font-family:'Open Sans',sans-serif;
                                            font-size:14px;
                                            padding-left:10px;
                                            padding-top:10px;">Période de validité : indéterminée</p>
            </div>
        </div>
        <div class="form-divider clearfix" style='margin: 1px 0 15px 0;'></div>
        <div class="one-column-input-wrapper">
            <p class="form-subheader">Visite médicale</p>
            <div class="calendar-wrapper clearfix" style='padding-top: 9px !important;' >
                <p class="form-label" style="font-family:'Open Sans',sans-serif;
                                            font-size:14px;
                                            padding-left:10px;
                                            padding-top:10px;">Date*</p>
                <input type="text" name="selected_date" id="datepicker2" class="datepicker-default" />
            </div>
        </div>
        <div class="form-divider clearfix" style='margin-bottom: 6px;'></div>
        <div class="one-column-input-wrapper"  style='padding-top: 12px !important;'>
            <p class="form-subheader">CACES</p>
            <div class="calendar-wrapper clearfix" style='margin-top: 2px !important;'>
                <p class="form-label" style="font-family:'Open Sans',sans-serif;
                                            font-size:14px;
                                            padding-left:10px;
                                            padding-top:10px;">Date*</p>
                <input type="text" name="selected_date" id="datepicker3" class="datepicker-default" />
            </div>

            <p class="form-label" style='display: inline-block;
                                            width: auto;
                                            float: left;'>Fishier *</p>
            <div class="input-wrapper" style='display: inline-block;
                                            width: auto;
                                            float: right;
                                            margin-right: 12px;'>
                <div class="image-upload"  style='display: inline-block !important;'>
                    <p>fichier1.jpg</p>
                    <label for="file-input">
                        <span></span>
                    </label>
                    <input id="file-input" type="file" class="datepicker-default"/>
                </div>
            </div>

        </div>
        <div class="form-divider clearfix" style='margin: -1px 0 15px 0;'></div>
        <div class="search-panel clearfix">
            <p><span>Attestations / Habilitations</span></p>
            <button  type="button" class="add-an-item-button" data-toggle="modal" data-target=".attestation-habilitation-modal"></button>
        </div>
        <div class="table-wrapper">
            <table class="table-default attestations-de-formation-table">
                <thead>
                <tr>
                    <th><button class="single-sort-button"></button>Nom</th>
                    <th>
                        <button class="double-sort-button">
                            <span></span>
                            <span></span>
                        </button>
                        <span>Date de délivrance</span>
                    </th>
                    <th>
                        <button class="double-sort-button">
                            <span></span>
                            <span></span>
                        </button>
                        <span>Date d’expiration</span>
                    </th>
                    <th>
                        <span>Action</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nom du fichier</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
                </tr>
                <tr>
                    <td>Le nom du fichier fait max 35 lettres...</td>
                    <td>00/00/0000</td>
                    <td>00/00/0000</td>
                    <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-divider clearfix"></div>
        <div class="search-panel clearfix">
            <p><span>Autorisations de conduite</span></p>
            <button  type="button" class="add-an-item-button" data-toggle="modal" data-target=".autorisation-de-conduite-modal"></button>
        </div>
        <div class="table-wrapper">
            <table class="table-default attestations-de-conduite-table">
                <thead>
                <tr>
                    <th><button class="single-sort-button"></button>Nom</th>
                    <th>
                        <span>Action</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nom du fichier</td>
                    <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
                </tr>
                <tr>
                    <td>Le nom du fichier fait max 35 lettres...</td>
                    <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="button-wrapper">
            <button type="submit" class="form-button red-button annuler-button">Annuler</button>
            <button type="submit" class="form-button green-button sauvegarder-button"
                    (click)='gotoSalariesPage()'>Sauvegarder</button>
        </div>
    </form>
</div>

