<navbar-for-delete></navbar-for-delete>

<div class="background">
    <div class='image-wrapper'>
        <img id='logo-painted' src="../../../../assets/img/safety_network.png" class='img-adaptive' alt="logo">
    </div>

    <div class="wrapper">
        <div *ngIf="error" style='position: absolute;' class="alert alert-danger">{{error}}</div>
        <div class="login-block">
            <div class="caption">
                <div>Safetyfirst</div>
                <br>
                <div>Formation manager</div>
            </div>

            <div class="main">
                <form #loginForm="ngForm" (submit)="login(email.value, password.value)" (click)='cancellError()'>
                    <div class="form-group">
                        <input type="email"
                               #email
                               name="email"
                               id='email'
                               required
                               placeholder="Email"
                               class="form-control"
                               ngModel>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               #password
                               name="password"
                               id='password'
                               required
                               class="form-control"
                               placeholder="Mot de passe"
                               ngModel>
                    </div>
                    <p [routerLink]="['/login/rappeler-le-mot-de-passe']">Mot de passe oublié ?</p>
                    <div class="button-wrapper">
                        <button type="submit" [disabled]="loading" class="form-button connexion-button">Connexion</button>
                        <br>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>

            </div>

            <div class="footer">
                <div>Pas encore d'accès ?</div>
                <br>
                <div>Découvrez nos solutions !</div>
                <br>
                <div class="solution-wrapper">
                    <div class="solution">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_b.png" alt="PRO">
                        </div>
                        <div>PRO</div>
                    </div>
                    <div class="solution">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="SAFE">
                        </div>
                        <div>SAFE</div>
                    </div>
                    <div class="solution">
                        <div class="image-wrapper">
                            <img src="../../../../assets/img/sigma_w.png" alt="DATA">
                        </div>
                        <div>DATA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
