<div class="sidebar">

    <!--<navbar-for-delete></navbar-for-delete>-->

    <div class="brand-wrapper">
        <a class="brand" href="javascript:void(0);">
            <img src="../../../../assets/img/main-logo.png" alt="main-logo">
            <p>Online</p>
        </a>
    </div>
    <!-- Menu icon -->
    <div id="nav-icon1" class="visible-xs visible-sm">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="sidebar-nav">
        <ul class="list-unstyled">
            <li routerLinkActive="active" [routerLink]="['/client/accueil']">
                <a href="javascript:void(0);">
                    Sites
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/client/groupes']">
                <a href="javascript:void(0);">
                    Groupes de salariés
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/client/employees']"> <!--salaries-->
                <a href="javascript:void(0);">
                    Salariés
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/client/profil']">
                <a href="javascript:void(0);">
                    Profil
                </a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/client/bibliotheque']">
                <a href="javascript:void(0);">
                    Bibliothèque
                </a>
            </li>

            <!--<li class="back-to-admin-link" [routerLink]="['/site/accueil']">-->
                <!--<a href="javascript:void(0);">-->
                    <!--&lt; Retour au site-->
                <!--</a>-->
            <!--</li>-->
            <li class="back-to-admin-link" (click)='logoutFunction()' [routerLink]="['/site/accueil']">
                <a href="javascript:void(0);">
                    &lt; Logout
                </a>
            </li>
        </ul>
    </nav>
</div>
