<header class="main-header">
    <h1>Autorisations de conduite</h1>
</header>
<div class="main-content">
    <div class="search-panel clearfix">
        <div class="search-wrapper">
            <button class="search-button" type="button"></button>
            <input type="text" class="form-control search-input" placeholder="Rechercher">
        </div>
    </div>
    <div class="table-wrapper">
        <table class="table-default attestations-de-formation-table">
            <thead>
            <tr>
                <th><button class="single-sort-button"></button>Type</th>
                <th>
                    <span>Action</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Chariots élévateurs R.389</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>PEMP (nacelle) R.386</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Ponts roulants R.318/423</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Engins de chantier R.372m</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Grues auxiliaires R.390</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Grues à tour R.377m</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            <tr>
                <td>Grues mobiles R.383m</td>
                <td><a href="javascript:void(0);">Voir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
