<div class="form-divider clearfix" style="margin-bottom: 20px;"></div>
<h2 class="pull-left">Responsable(s) du site</h2>
<button class="add-an-item-button" (click)="setEmptyData(); myModal.open()"></button>

<site-reglages-modal #myModal tabindex="-1">
    <modal-header-SRM>
        <h2>Ouverture de droits</h2>
    </modal-header-SRM>

    <modal-content-SRM>

          <div class="input-wrapper" >
                <input class="form-control"  placeholder="Nom*" style="margin-bottom: 2px;"
                       #findSalarieByName id="findSalarieByName" name='findSalarieByName' type="text"
                       (keyup.enter)='findEmployeeByName_searchFunction(findSalarieByName.value, 1, "")'>
                <button (click)='findEmployeeByName_searchFunction(findSalarieByName.value, 1, "")'>
                    <span></span>
                </button>
            </div>

          <!--<div class="search-wrapper">-->
            <!--<button class="search-button" type="button" ></button>-->
            <!--<input #findSalarieByName id="findSalarieByName" name='findSalarieByName' type="text"-->
                   <!--class="form-control search-input" placeholder="Rechercher"-->
                   <!--&gt;-->
          <!--</div>-->

          <div *ngIf="loaded" class="table-wrapper"  style="margin-top: 4px;">
            <table class="table-default salaries-site-table">
              <thead>
              </thead>
              <tbody>
                  <tr *ngFor="let employee of employee_fromSearch" style="height: 40px;">
                    <td style="width: 44%;">Nom: {{employee.name | capitalizeFirstLetter}}</td>
                    <td style="width: 26%;">Prénom: {{employee.surname | capitalizeFirstLetter}}</td>
                    <td style="width: 25.6%;">N° sécu: {{employee.numSecu | uppercase}}</td>
                    <td style="padding: 0 0 0 0 !important; width: 4.4%;">
                      <div class="input-wrapper">
                        <!--<input class="form-control" id="exampleInputText7" placeholder="Nom*" type="text">-->
                        <button style="margin-top: -9px;"
                                (click)="takeEmployee_forSettingAccessFunction(employee);">
                          <span></span>
                        </button>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>

      <form #site_employeeAccessForm="ngForm"  novalidate  class="modal-form" (click)='cancellMessages()'
            (ngSubmit)="submitForm(site_employeeAccessForm)">
          <div class="table-wrapper" style="margin-top: 24px !important;">
                <table class="table-default ajouter-responsables-table">
                    <thead>
                        <tr>
                            <th *ngFor="let mobileHeader of mobileHeaders" (click)="tableSortService.changeSorting(mobileHeader.variable)">
                                <button [class]="tableSortService.selectedClass(mobileHeader.variable)" ></button>
                                {{mobileHeader.display}}
                            </th>
                            <th>
                                <span>Accès Général</span>
                            </th>
                            <th>
                                <span>Accès Technique</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf='emptyTableMobile'>
                            <td>-</td>
                            <td>-</td>
                          <td>
                            <div class="radio">
                              <input id="radio-11" name="radio1" type="radio" checked>
                              <label for="radio-11" class="radio-label"></label>
                            </div>
                          </td>
                          <td>
                            <div class="radio">
                              <input id="radio-12" name="radio1" type="radio">
                              <label  for="radio-12" class="radio-label"></label>
                            </div>
                          </td>
                        </tr>

                        <tr *ngFor="let employeeAccess of employee_forAccess" style="height: 40px;">
                          <td>{{employeeAccess.name | capitalizeFirstLetter}}</td>
                          <td>{{employeeAccess.numSecu | uppercase}}</td>
                          <td *ngFor="let type of types_employeeAccess" >
                            <div class="radio" >
                              <input type="radio"   id={{type.id}} name="employeeGroup"
                                     [(ngModel)]="employeeAccess.responsible" [value]="type.id" >  <!-- checked={{groupe.booleanValue}}-->
                              <label for={{type.id}} class="radio-label"></label>
                            </div>

                            <!--<div *ngFor="let equipement of machinesGlossary.types_2_engins_12_equipement" class="radio" >-->
                              <!--<input type="radio"   id={{equipement.id}} name="equipementGroup"-->
                                     <!--[value]="equipement.id" (change)='addSubcategoryEquipement($event); false'>  &lt;!&ndash; checked={{equipement.booleanValue}}&ndash;&gt;-->
                              <!--<label for={{equipement.id}} class="radio-label">{{equipement.display}}</label>-->
                            <!--</div>-->


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="form-button red-button annuler-button" data-dismiss="modal"
                        (click)="myModal.close()">Annuler</button>
                <button type="submit" class="form-button green-button creer-button" data-dismiss="modal"
                    [disabled]="!employee_forAccess.length">Ajouter</button>
            </div>
        </form>
    </modal-content-SRM>

    <modal-footer-SRM>
    </modal-footer-SRM>
</site-reglages-modal>

<table class="table-default responsable-du-site-table">
    <thead>
        <tr>
            <th *ngFor="let header of headers" (click)="tableSortService.changeSorting(header.variable)">
                <button [class]="tableSortService.selectedClass(header.variable)" ></button>
                {{header.display}}
            </th>
            <th>
                <span>Action</span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nom du groupe 1</td>
        <td>Tout</td>
        <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
    </tr>
    <tr>
        <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
        <td>Parc Machine</td>
        <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
    </tr>
    </tbody>
</table>
