<div class="form-divider clearfix" style="margin-bottom: 20px;"></div>
<h2 class="pull-left">Responsable(s) du site</h2>
<button class="add-an-item-button" (click)="myModal.open()"></button>

<site-reglages-modal #myModal tabindex="-1">
    <modal-header-SRM>
        <h2>Ajouter un ou des responsable(s) de site</h2>
    </modal-header-SRM>

    <modal-content-SRM>
        <form action="/" class="modal-form">
            <div class="input-wrapper">
                <input class="form-control" id="exampleInputText7" placeholder="Nom*" type="text">
                <button>
                    <span></span>
                </button>
            </div>
            <div class="table-wrapper">
                <table class="table-default ajouter-responsables-table">
                    <thead>
                        <tr>
                            <th *ngFor="let mobileHeader of mobileHeaders" (click)="tableSortService.changeSorting(mobileHeader.variable)">
                                <button [class]="tableSortService.selectedClass(mobileHeader.variable)" ></button>
                                {{mobileHeader.display}}
                            </th>
                            <th>
                                <span>Accès Général</span>
                            </th>
                            <th>
                                <span>Accès Technique</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf='emptyTableMobile'>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>

                        <tr>
                            <td>Nom du salarié 1</td>
                            <td>201010100011133</td>
                            <td>
                                <div class="radio">
                                    <input id="radio-11" name="radio1" type="radio" checked>
                                    <label for="radio-11" class="radio-label"></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                    <input id="radio-12" name="radio1" type="radio">
                                    <label  for="radio-12" class="radio-label"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nom du salarié 2</td>
                            <td>201010100011133</td>
                            <td>
                                <div class="radio">
                                    <input id="radio-21" name="radio2" type="radio">
                                    <label for="radio-21" class="radio-label"></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                    <input id="radio-22" name="radio2" type="radio" checked>
                                    <label  for="radio-22" class="radio-label"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nom du salarié 3</td>
                            <td>201010100011133</td>
                            <td>
                                <div class="radio">
                                    <input id="radio-31" name="radio3" type="radio">
                                    <label for="radio-31" class="radio-label"></label>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                    <input id="radio-32" name="radio3" type="radio" checked>
                                    <label  for="radio-32" class="radio-label"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="form-button red-button annuler-button" data-dismiss="modal"
                        (click)="myModal.close()">Annuler</button>
                <button type="submit" class="form-button green-button creer-button" data-dismiss="modal">Ajouter</button>
            </div>
        </form>
    </modal-content-SRM>

    <modal-footer-SRM>
    </modal-footer-SRM>
</site-reglages-modal>

<table class="table-default responsable-du-site-table">
    <thead>
        <tr>
            <th *ngFor="let header of headers" (click)="tableSortService.changeSorting(header.variable)">
                <button [class]="tableSortService.selectedClass(header.variable)" ></button>
                {{header.display}}
            </th>
            <th>
                <span>Action</span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nom du groupe 1</td>
        <td>Tout</td>
        <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
    </tr>
    <tr>
        <td>Le nom du groupe peut être vraiment très long, jusqu’à 65 lettres...</td>
        <td>Parc Machine</td>
        <td><a href="javascript:void(0);">Gérer / Supprimer</a></td>
    </tr>
    </tbody>
</table>