/*==== error message ====*/
header.main-header {
    position: relative;
}
.alert-danger {
    height: auto;
    top: -20px;
}
.alert-danger .close {
    padding: 10px 10px 10px 10px;
}
/*=end=== error message ====*/
