<header class="main-header">
    <h1>Profil</h1>
</header>
<div class="main-content">
    <form action="/" class="profil-form">
        <div class="input-wrapper">
            <input type="text" class="form-control" id="exampleInputText1" placeholder="Nom*">
            <p class="requred-field hidden">Champs requis</p>
        </div>
        <div class="input-wrapper">
            <input type="text" class="form-control" id="exampleInputText2" placeholder="Adresse*">
            <p class="requred-field hidden">Champs requis</p>
        </div>
        <div class="input-wrapper">
            <input type="text" class="form-control" id="exampleInputText3" placeholder="Code postal*">
            <p class="requred-field hidden">Champs requis</p>
        </div>
        <div class="input-wrapper">
            <input type="text" class="form-control" id="exampleInputText4" placeholder="Ville*">
            <p class="requred-field hidden">Champs requis</p>
        </div>
        <div class="control-group">
            <label class="control control--checkbox">Adresse de facturation si différente
                <input type="checkbox" checked="checked"/>
                <span class="control__indicator"></span>
            </label>
        </div>
        <div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText5" placeholder="Nom*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText6" placeholder="Adresse*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText7" placeholder="Code postal*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText8" placeholder="Ville*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
        </div>
        <div class="form-divider clearfix"></div>
        <div>
            <div class="input-wrapper">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText9" placeholder="Numéro SIRET*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper" style="margin-bottom: 21px;">
                <input type="text" class="form-control" id="exampleInputText10" placeholder="Téléphone*">
                <p class="requred-field hidden">Champs requis</p>
            </div>
            <div class="input-wrapper" style="margin-bottom: 21px;">
                <input type="text" class="form-control" id="exampleInputText11" placeholder="RIB*">
            </div>
        </div>
        <div class="form-divider clearfix"></div>
        <div class="one-column-input-wrapper">
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText12" placeholder="Nom du contact">
            </div>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="exampleInputText13" placeholder="Téléphone du contact">
            </div>
            <div class="input-wrapper">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email du contact">
            </div>
        </div>
        <div class="button-wrapper">
            <p class="control">Logo</p>
            <div class="image-upload">
                <label for="file-input">
                    <span></span>
                </label>
                <input id="file-input" type="file">
            </div>
            <button type="submit" class="form-button green-button sauvegarder-button">Sauvegarder</button>
            <button type="submit" class="form-button red-button annuler-button">Annuler</button>
        </div>
    </form>
</div>