<nav class="navbar  main-navigation">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            <img src="../../../assets/img/logo.png" alt="Safety" class="img-responsive" id="logo" />
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-link-block" routerLinkActive="active-page-link-block"><a class="nav-link" href="#" routerLinkActive="active-page-link" [routerLink]="['/admin/accueil']">Accueil</a></li>
        <!--<li class="nav-link-block active-page-link-block"><a class="nav-link active-page-link" href="">Réglages</a></li>-->
        <li class="nav-link-block" routerLinkActive="active-page-link-block"><a class="nav-link" href="#" routerLinkActive="active-page-link" [routerLink]="['/admin/reglages']">Réglages</a></li>
        <li class="nav-link-block" routerLinkActive="active-page-link-block"><a class="nav-link" href="#" routerLinkActive="active-page-link" [routerLink]="['/admin/client']">Clients</a></li>
        <li class="nav-link-block" routerLinkActive="active-page-link-block"><a class="nav-link" href="#" routerLinkActive="active-page-link" [routerLink]="['/admin/bibliotheque']">Bibliothèque</a></li>
    </ul>
</nav>
