/* Fonts */
@font-face {
    font-family: Righteous;
    src: url(assets/fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(assets/fonts/OpenSans-Semibold.ttf);
}

/* End of fonts */
html {
  position: relative;
  height: 100% !important;
}
body {
  height: 100%;
}
body {position: relative; }



/* MAIN */

main {
    width: calc(100% - 320px);
    float: left;
    padding:40px;
    padding-bottom: 0;
    background: #efefef;
    /*	background: #590565;*/
    position: relative;
    min-height: 100%;
}

article {
    /*max-width: 880px;*/
    position: relative;
    min-height: 100%;
    background: #fff;
    padding-bottom: 20px;
}

.main-header {
    min-height: 140px;
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.main-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #efefef;
    left: 0;
    bottom: -20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    transform:translate(-50%, -48%);
    width: 100%;   /* new */
}

.main-content {
    /*min-height: 140px;*/
    position: relative;
    min-height: calc(100% - 160px);
    background: #fff;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
    overflow: auto;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border:none;
    height: 32px;
}

.red-button {
    background-color: #f32938;
    color: #fff;
}

.green-button {
    background-color: #71dac0;
    color: #000;
}
.annuler-button,
.creer-button,
.sauvegarder-button,
.ajouter-button,
.telecharger-button,
.enregistrer-button,
.ok-button {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    width: 84px;
    height: 42px;
}

.sauvegarder-button {
    width: 119px;
}

.telecharger-button {
    background: #3ba890;
    width: 138px;
    color: #fff;
}

.enregistrer-button {
    width: 131px;
}

.modifier-button {
    width: 139px;
}

.ok-button {
    width: 131px;
    background-color: #69e9cd;
    text-transform: uppercase;
}

.navigation-back-button {
    background: url(/assets/img/navigation-arrow.png) no-repeat;
    min-width: 24px !important;
    height: 42px;
}

.input-wrapper {
    margin-bottom: 23px;
    position: relative;
}

.requred-field {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #f32938;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.form-divider {
    width: 100%;
    margin-bottom: 23px;
    height: 1px;
    background-color: #8d8d8d;
    float: left;
}

.form-subheader {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: bold;
    color: #000;
}

.form-subheader.form-subheader-type {
    text-align: left !important;
    margin-bottom: 15px !important;
}

/* CHECKBOX */

.control {
    font-family: 'Righteous', cursive;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 4px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: .2px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 5px;
    left: 2px;
    height: 19px;
    width: 19px;
    /*background: #e6e6e6;*/
    border: 2px solid #3ba890;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #fff;
}

.control input:checked ~ .control__indicator {
    background: #fff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #fff;
}

.control input:disabled ~ .control__indicator {
    background: #fff;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 2px;
    top: -12px;
    width: 14px;
    height: 24px;;
    border: solid #3ba890;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.modal .control {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    margin-bottom: 19px;
    padding-left: 37px;
    padding-top: 4px;
}

/* RADIOBUTTON */

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"] + .radio-label {
    padding-left: 0;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #007863;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 1px;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #007863;
    box-shadow: inset 0 0 0 2px #fff;
    top: 4px;
    left: 1px;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #007863;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #fff;
    border-color: #8d8d8d;
    background: #8d8d8d;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

/* NUMBER INPUT */

.spin {
    font-family: 'Open Sans', sans-serif;
    color: #8d8d8d;
    display: block;
    padding-left: 11px;
    position: relative;
    top:-4px;
}
.spin span {
    display:block;
    width: 120px;
    height: 24px;
    text-align: center;
    padding-top: 2px;
    background: #3ba890;
    border: 1px solid #aaa;
    cursor: pointer;
}

.spin span img {
    transform: rotate(90deg);
    max-height: 9px;
    position: relative;
    top: -1px;
}

.spin input + span img {
    transform: rotate(270deg);
    top: -4px;
}

.spin input {
    width: 120px;
    height: 42px;
    text-align: center;
    border: 1px solid #bdbdbd;
}
/* DROPDOWN MENU */

.dropdown, .dropdown-menu {
    width: 483px;
    padding: 0;
    border: none;
}

.nav-pills > li.active > a {
    width: 483px;
    height: 42px;
    background-color: #fff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #8d8d8d !important;
    position: relative;
    border: 1px solid #bdbdbd !important;
    border-radius: 0;
    text-align: left;
}

.dropdown.active .caret {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 41px;
    background: url("/assets/img/dropdown-caret.png") no-repeat;
    border: none;
    border-radius: 0;
}

.dropdown-menu > li {
    margin-top: -1px;
}

.dropdown-menu > li > a {
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #8d8d8d !important;
    border: 1px solid #bdbdbd !important;
}

/* DATEPICKER */

.calendar-wrapper {
    margin-top: -4px;
    /*width: 484px;*/
}

.calendar-wrapper p.form-subheader {
    margin-bottom: 28px;
}

.calendar-wrapper p {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}

.datepicker-default {
    float: right;
    width:175px;
    height:44px;
    border: 1px solid #bdbdbd;
    border-right: none;
    background: url(/assets/img/calendar-img.png) no-repeat;
    background-position: 100%;
    padding-left: 26px;
    margin-right: 0;
    position: relative;
    top:-10px;
}
/* SEARCH */

.search-panel {
    margin-bottom: 22px;
}

.search-panel p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    float: left;
    letter-spacing: -.15px;
}

.search-panel p span {
    font-weight: 600;
}

.search-wrapper {
    float: right;
    position: relative;
    top:2px;
}

.search-button {
    width: 25px;
    height: 23px;
    background: url(/assets/img/loupe-icon.png) no-repeat;
    background-position: 70% 20%;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    top: 2px;
}

.search-input {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-left: 27px;
    padding-top: 5px;
    width: 190px !important;
    height: 23px;
    display: block;
    border: 1px solid #bdbdbd;
    border-radius: 12px !important;
    color: #000;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8d8d8d;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
    color: #8d8d8d;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
    color: #8d8d8d;
}
.search-input:-moz-placeholder { /* Firefox 18- */
    color: #8d8d8d;
}

.add-an-item-button {
    float: right;
    width: 24px;
    height: 24px;
    background: url(/assets/img/plus-icon.png) no-repeat;
    border: none;
    margin-left: 24px;
    margin-right: 1px;
    position: relative;
    top: 1px;
}

/* TABLE */

.table-wrapper {
    margin-bottom: 3px;
}
th {
  padding-left: 24px !important;
}
.table-default th {
  padding-left: 24px !important;
}
th {
    text-align: left !important;
}
.sort-button-true,
.sort-button-false,
.double-sort-button {
    width: 22px;
    height: 16px;
    display: inline-block;
    border: none;
    background: transparent;
    padding: 2px 5px;
    margin: 0 8px 0 0;
    left: 24px;
    bottom: 25px;
}
.sort-button-true {
    background: url(/assets/img/order-icon-up.png) no-repeat;
}
.sort-button-false {
    background: url(/assets/img/order-icon-down.png) no-repeat;
}
.double-sort-button {
    background: url(/assets/img/order-icon-double.png) no-repeat;
}
.double-sort-button span {
    width: 22px;
    height: 8px;
    background: url(/assets/img/order-icon.png) no-repeat center;
    display: block;
    position: relative;
    top: -4px;
    display: none;
}

.double-sort-button span:first-of-type {
    transform: rotate(180deg);
}

.double-sort-button + span {
    display: inline-block;
    position: relative;
}

.table-default {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.table-default thead {
    font-weight: bold;
    background: #3ba890;
    color: #fff;
    height: 56px;
}

.table-default th {
    height: 56px;
    cursor: pointer;
}

.table-default th:last-of-type {
    cursor: default;
}

.table-default tbody {
    border-bottom: 1px solid #bdbdbd;
}

.table-default tbody tr {
    font-weight: 400;
    height: 56px;
}

.table-default tbody tr:nth-of-type(2n+1) {
    background: #efefef;
}

.table-default a {
    color: #000;
}

.table-default th,
.table-default td {
    border-right: 1px solid #007863;
  overflow: hidden;
}

.table-default th,
.table-default td {
    /*padding-left: 10px;*/
    position: relative;
}

.table-default td {
    padding-left: 24px;
    padding-right: 20px;
    text-align: left;
    color: #000;
}

.table-default th:first-of-type {
    /*padding-left: 47px;*/
}

.table-default td:first-of-type {
    /*padding-left: 24px;*/
    padding-right: 20px;
    text-align: left;
}

.table-default th:nth-of-type(n+1) {
    /*padding-left: 47px;*/
}

.table-default th:last-of-type,
.table-default td:last-of-type {
    border-right: none;
    text-align: center !important;
    padding-right: 12px;
}

.table-default th:last-of-type {
    padding-left: 7px;
}

/* PAGINATION */

.pagination-wrapper {
    text-align: right;
    overflow: auto;
    padding-right: 1px;
    cursor: pointer;
}

.pagination a {
    font-family: 'Open Sans', sans-serif;
    width: 48px;
    height: 48px;
    border-radius: 0 !important;
    color: #8d8d8d !important;
    text-align: center;
    line-height: 2.5 !important;
    transition:.4s;
    cursor: pointer;
}

.pagination .active a {
    background: #71dac0;
    border: 1px solid #71dac0;
    color: #000 !important;
}

.pagination a:focus,
.pagination a:hover {
    background: #efefef !important;
    border: 1px solid #bdbdbd !important;
    color: #8d8d8d !important;
    transition:.4s;
    cursor: pointer;
}

.pagination .prev-link,
.pagination .next-link,
.pagination .prev-link:focus,
.pagination .next-link:focus,
.pagination .prev-link:hover,
.pagination .next-link:hover {
    background: #3ba890 !important;
    border: 1px solid #3ba890 !important;
    position: relative;
}

.pagination .prev-link img,
.pagination .next-link img {
    position: relative;
    top: -2px;
}

.pagination .next-link img {
    transform: rotate(180deg);
}

/* MODAL */

.modal {
    text-align: center;
}

.modal-open,
.modal-open .modal {
    padding-right: 0 !important;
}

.modal-dialog {
    width: auto;
    display: inline-block;
}

.modal-sm .modal-content {
    border-radius: 0;
    box-shadow: none;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 18px;
    padding-bottom: 24px;
}

.modal-content h2 {
    font-size: 30px;
    text-align: left;
}

.modal-form .form-control,
.modal-form textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    color: #8d8d8d;
    padding-left: 11px;
    padding-top: 4px;
    margin-bottom: 20px;
}

.modal-form .form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 0;
    color: #8d8d8d;
    width: 100%;
    height: 42px !important;
}

.modal-form textarea {
    padding-top: 10px;
    font-size: 15px;
    min-height: 160px;
}

.modal-content .button-wrapper {
    text-align: right;
    padding-right: 1px;
    overflow: auto;
}

.modal-content .button-wrapper button {
    margin-left: 18px;
}
/* LIBRARY MODAL */

.library-modal .modal-content {
    min-width: 411px;
    max-width: 411px;
}

.library-modal .button-wrapper {
    padding-top: 3px;
}

/* AJOUTER UN SITE MODAL */

.ajouter-un-site-modal .modal-content {
    min-width: 882px;
    max-width: 882px;
}

.ajouter-un-site-modal .input-wrapper {
    width: calc(50% - 12px);
    float: left;
    margin-right: 23px;
    margin-bottom: 4px;
}

.ajouter-un-site-modal .input-wrapper:nth-of-type(2n) {
    margin-right: 0;
}

/* GROUPE DE SALARIES MODAL */

.groupe-de-salaries-modal .modal-content{
    min-width: 454px;
    max-width: 454px;
}

.groupe-de-salaries-modal .control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-left: 35px;
    letter-spacing: -.05px;
    text-align: left;
}

.groupe-de-salaries-modal .button-wrapper {
    padding-top: 5px;
}

/* ALERT WINDOW */

.alert-danger {
    height: 40px;
    width: 100%;
    padding-left: 23px;
    padding-top: 9px;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f32938;
    border-color: #f32938;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1000;
}

.alert-danger p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 14px;
}

.alert-danger p span {
    font-weight: 700;
}

.alert-danger .close {
    opacity: 1;
    background: url(/assets/img/close-icon.png) no-repeat;
    width: 15px;
    height: 16px;
    top: 2px;
    right: -12px;
}

/* FILE INPUT */

.image-upload,
.signature-upload,
.tampon-upload {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    height: 42px !important;
    border: 1px solid #bdbdbd;
    padding-left: 11px;
    padding-top: 8px;
    position: relative;
}

.signature-upload,
.tampon-upload {
    border: 1px solid #3ba890;
    margin-bottom: 23px;
}

.image-upload p {
    text-align: left;
}

.image-upload label {
    width: 42px;
    height: 42px;
    background: #3ba890;
    position: absolute;
    right: -1px;
    top: -1px;
}

.signature-upload label,
.tampon-upload label {
    background: #3ba890;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    color: #fff;
    padding-top: 9px;
    padding-left: 10px;
    cursor: pointer;
}

.image-upload label:hover {
    cursor: pointer;
}

.image-upload label span {
    background: url(/assets/img/plus-icon-white.png) no-repeat center;
    width: 100%;
    height: 100%;
    display: block;
}

.signature-upload label span,
.tampon-upload label span {
    background: url(/assets/img/plus-icon-white.png) no-repeat center;
    background-position: 55% 40%;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

/* CUSTOM STYLES */
/* REGLAGES */

.reglages-form .form-group {
    height: 67px;
}

.reglages-form .form-group label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    top: -5px;
    margin-bottom: 6px;
}

.reglages-form .form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid #bdbdbd;
    color: #8d8d8d;
    width: 256px;
    height: 32px !important;
    padding-top: 4px;
    padding-left: 8px;
    margin-bottom: 15px;
}

.annuler-sauvegarder-button-wrapper {
    width: 256px;
    overflow: auto;
}

.annuler-sauvegarder-button-wrapper .red-button {
    float: left;
    width: 109px;
    height: 32px;
}

.annuler-sauvegarder-button-wrapper .green-button {
    float: right;
    width: 109px;
    height: 32px;
}

/* CREER UN CLIENT */

.creer-un-client-form {
    padding-top: 8px;
    max-width: 361px;
}

.creer-un-client-form .form-control {
    font-family: 'Open Sans', sans-serif;
    width: 361px !important;
    height: 42px !important;
    border-radius: 0;
}

.creer-un-client-form .button-wrapper {
    max-width: 360px;
    text-align: right;
    padding-top: 19px;
}

.creer-un-client-form .button-wrapper button {
    margin-left: 18px;
    position: relative;
    left: 1px;
}

.creer-un-client-form input.requred-field-border {
    border: 1px solid #f32938;
}

/* CLIENTS TABLE */

.clients-table th:first-of-type,
.clients-table td:first-of-type {
    width: 46.65%;
}

.clients-table th:nth-of-type(2),
.clients-table td:nth-of-type(2) {
    width: 16.6%;
}

.clients-table th:nth-of-type(3),
.clients-table tr:nth-of-type(3) {
    width: 16.6%;
}

.clients-table th:nth-of-type(4),
.clients-table td:nth-of-type(4) {
    width: 20.15%;
}

.clients-table td:nth-of-type(4) a {
    color: #000 !important;
}

/* LIBRARY TABLE */

.library-table th:first-of-type,
.library-table td:first-of-type {
    width: 40%;
}

.library-table th:nth-of-type(2),
.library-table td:nth-of-type(2) {
    width: 39.75%;
    text-align: left;
    padding-left: 24px;
    padding-right: 0;
}

.library-table th:nth-of-type(2) {
    /*padding-left: 102px;*/
}

/*.library-table th:nth-of-type(2) .double-sort-button {*/
    /*left: 80px;*/
/*}*/

.library-table td:nth-of-type(2) a,
.library-table td:nth-of-type(3) a {
    color: #000 !important;
}

.library-table th:nth-of-type(4),
.library-table td:nth-of-type(4) {
    width: 20.25%;
}

/* SITES TABLE */

.sites-table td {
    text-align: left;
}

.sites-table th:first-of-type,
.sites-table td:first-of-type {
    width: 23.15%;
}

.sites-table td:nth-of-type(2) {
    width: 34%;
    padding-left: 23px;
    padding-right: 0;
}

.sites-table td:nth-of-type(3) {
    width: 22.75%;
    padding-left: 23px;
    padding-right: 0;
}

.sites-table td:nth-of-type(4) {
    width: 20.1%;
}

/* AJOUTER UN SITE TABLE */

.ajouter-un-site-modal .table-wrapper {
    margin-bottom: 24px;
}

.ajouter-un-site-table th:first-of-type,
.ajouter-un-site-table td:first-of-type {
    width: 80.8%;
}

.ajouter-un-site-table th:nth-of-type(2),
.ajouter-un-site-table td:nth-of-type(2) {
    width: 10.25%;
}

.ajouter-un-site-table th:nth-of-type(2) {
    padding-left: 23px;
}

.ajouter-un-site-table th:nth-of-type(3),
.ajouter-un-site-table td:nth-of-type(3) {
    width: 8.95%;
}

.ajouter-un-site-table th:nth-of-type(2) .control__indicator,
.ajouter-un-site-table td:nth-of-type(2) .control__indicator {
    left: 23px;
}

.ajouter-un-site-table th:nth-of-type(3) .control__indicator,
.ajouter-un-site-table td:nth-of-type(3) .control__indicator {
    left: 18px;
}

/* AJOUTER UN SITE TABLE */
/* RESPONSABLE DU SITE TABLE */

.responsable-du-site-table {
    margin-bottom: 24px;
}

.responsable-du-site-table + .form-divider {
    margin-bottom: 20px;
}

.groupe-de-salaries-table th:first-of-type,
.groupe-de-salaries-table td:first-of-type,
.responsable-du-site-table th:first-of-type,
.responsable-du-site-table td:first-of-type {
    width: 57.2%;
}

.groupe-de-salaries-table th:nth-of-type(2),
.groupe-de-salaries-table td:nth-of-type(2),
.responsable-du-site-table th:nth-of-type(2),
.responsable-du-site-table td:nth-of-type(2) {
    width: 22.65%;
}

.groupe-de-salaries-table td:nth-of-type(2),
.responsable-du-site-table td:nth-of-type(2) {
    text-align: left;
    padding-left: 22px;
}

.groupe-de-salaries-table th:nth-of-type(3),
.groupe-de-salaries-table td:nth-of-type(3),
.responsable-du-site-table th:nth-of-type(3),
.responsable-du-site-table td:nth-of-type(3) {
    width: 20.15%;
}
/* SALARIES TABLE */

.salaries-table th:first-of-type,
.salaries-table td:first-of-type {
    width: 14.75%;
}

.salaries-table th:nth-of-type(2),
.salaries-table td:nth-of-type(2) {
    width: 14.9%;
}

.salaries-table td:nth-of-type(2) {
    width: 14.9%;
    text-align: left;
    padding-left: 23px;
    padding-right: 0;
}

.salaries-table th:nth-of-type(3),
.salaries-table td:nth-of-type(3) {
    width: 14.9%;
}

.salaries-table td:nth-of-type(3) {
    width: 14.9%;
    text-align: left;
    padding-left: 23px;
}

.salaries-table th:nth-of-type(4),
.salaries-table td:nth-of-type(4) {
    width: 14.95%;
}

.salaries-table td:nth-of-type(4) {
    width: 14.95%;
    text-align: left;
    padding-left: 23px;
    padding-right: 0;
}

.salaries-table th:nth-of-type(5),
.salaries-table td:nth-of-type(5) {
    width: 14.95%;
}

.salaries-table td:nth-of-type(5) {
    text-align: left;
    padding-left: 23px;
}

.salaries-table td:nth-of-type(5) {
    padding-right: 0;
}

.salaries-table th:nth-of-type(6),
.salaries-table td:nth-of-type(6) {
    width: 11.1%;
}

.salaries-table td:nth-of-type(6) {
    text-align: left;
    padding-left: 23px;
}

.salaries-table th:nth-of-type(7),
.salaries-table td:nth-of-type(7) {
    width: 14.45%;
}

/* SALARIES SITE TABLE */

.salaries-site-table td {
    padding-right: 10px;
}

.salaries-site-table th:first-of-type,
.salaries-site-table td:first-of-type {
    width: 15.9%;
}

.salaries-site-table th:nth-of-type(2),
.salaries-site-table td:nth-of-type(2) {
    width: 15.8%;
}

.salaries-site-table td:nth-of-type(2) {
    text-align: left;
    padding-left: 23px;
}

.salaries-site-table th:nth-of-type(3),
.salaries-site-table td:nth-of-type(3) {
    width: 16.1%;
}

.salaries-site-table th:nth-of-type(4),
.salaries-site-table td:nth-of-type(4) {
    width: 17.2%;
}

.salaries-site-table td:nth-of-type(3),
.salaries-site-table td:nth-of-type(4),
.salaries-site-table td:nth-of-type(5) {
    text-align: left;
    padding-left: 20px;
}

.salaries-site-table th:nth-of-type(5),
.salaries-site-table td:nth-of-type(5) {
    width: 9.25%;
}

.salaries-site-table th:nth-of-type(6),
.salaries-site-table td:nth-of-type(6) {
    width:11.25%;
}

.salaries-site-table td:nth-of-type(6) {
    text-align: left;
    padding-left: 20px;
}

.salaries-site-table th:nth-of-type(7),
.salaries-site-table td:nth-of-type(7) {
    width:14.5%;
}


/* NOTOFICATIONS DU SITE TABLE */

.notifications-table th:first-of-type,
.notifications-table td:first-of-type {
    width: 80%;
}

.notifications-table th:nth-of-type(2),
.notifications-table td:nth-of-type(2) {
    width: 10%;
}

.notifications-table th:nth-of-type(2) {
    padding-left: 22px;
}
.notifications-table th:nth-of-type(2),
.notifications-table th:nth-of-type(3) {
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
}

.notifications-table td:nth-of-type(2) {
    padding-left: 30px;
}

.notifications-table th:nth-of-type(3),
.notifications-table td:nth-of-type(3) {
    width: 10%;
}

.notifications-table td:nth-of-type(3) {
    padding-left: 25px;
}

/* AJOUTER RESPONSABLES TABLE */

.ajouter-responsables-de-site-modal .table-wrapper {
    padding-top: 2px;
}

.ajouter-responsables-table {
    margin-bottom: 25px;
}

.ajouter-responsables-table th:first-of-type,
.ajouter-responsables-table td:first-of-type {
    width: 44%;
}

.ajouter-responsables-table th:nth-of-type(2),
.ajouter-responsables-table td:nth-of-type(2) {
    width: 26%;
}

.ajouter-responsables-table th:nth-of-type(3),
.ajouter-responsables-table td:nth-of-type(3) {
    width: 15%;
}

.ajouter-responsables-table th:nth-of-type(4),
.ajouter-responsables-table td:nth-of-type(4) {
    width: 15%;
}

.ajouter-responsables-table td:nth-of-type(3),
.ajouter-responsables-table td:nth-of-type(4) {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

/* FICHIERS TABLE */

.fichiers-table th:first-of-type,
.fichiers-table td:first-of-type {
    width: 55%;
}

.fichiers-table th:nth-of-type(2),
.fichiers-table td:nth-of-type(2) {
    width: 24.75%;
    text-align: left;
}

.fichiers-table td:nth-of-type(2) {
    padding-left: 40px;
}

.fichiers-table th:nth-of-type(3),
.fichiers-table td:nth-of-type(3) {
    width: 25.25%;
}

/* PARC MACHINE TABLE */

.parc-machine-table td {
    padding-right: 5px;
}

.parc-machine-table th:first-of-type,
.parc-machine-table td:first-of-type {
    width: 17.2%;
}

.parc-machine-table th:nth-of-type(2),
.parc-machine-table td:nth-of-type(2),
.parc-machine-table th:nth-of-type(3),
.parc-machine-table td:nth-of-type(3) {
    width: 17.1%;
    text-align: left;
}

.parc-machine-table th:nth-of-type(3),
.parc-machine-table td:nth-of-type(3) {
    width: 17.1%;
    text-align: left;
}

.parc-machine-table th:nth-of-type(4),
.parc-machine-table td:nth-of-type(4) {
    width: 17.05%;
    text-align: left;
}

.parc-machine-table th:nth-of-type(5),
.parc-machine-table td:nth-of-type(5) {
    width: 17.05%;
    text-align: left;
}

.parc-machine-table th:nth-of-type(6),
.parc-machine-table td:nth-of-type(6) {
    width: 14.5%;
}

.parc-machine-table td:nth-of-type(2),
.parc-machine-table td:nth-of-type(3),
.parc-machine-table td:nth-of-type(4),
.parc-machine-table td:nth-of-type(5) {
    padding-left: 39px;
}

/* ATTESTATIONS DE FORMATION PAGE */

.main-content {
    padding-top: 23px;
}
.attestations-de-formation-table th:nth-of-type(1),
.attestations-de-formation-table td:nth-of-type(1) {
    width: 88%;
    text-align: left !important;
    padding-left: 23px !important;
}
.attestations-de-formation-table td:nth-of-type(1) {
    padding-right: 8px;
}

.attestations-de-formation-table th:nth-of-type(2),
.attestations-de-formation-table td:nth-of-type(2) {
    width: 12%;
}
.attestations-de-formation-table td:nth-of-type(2) {
    text-align: left;
    padding-right: 20px;
}
.attestations-de-formation-table th:nth-of-type(2) {
    text-align: center;
}

/* FICHES MACHINES PAGE */

.main-content {
    padding-top: 23px;
}
.fiches-machines-table th:nth-of-type(1),
.fiches-machines-table td:nth-of-type(1),
.fiches-machines-table th:nth-of-type(2),
.fiches-machines-table td:nth-of-type(2){
    width: 44%;
    text-align: left !important;
    padding-left: 23px !important;
}
.fiches-machines-table td:nth-of-type(1),
.fiches-machines-table td:nth-of-type(2){
    padding-right: 8px;
}

.fiches-machines-table th:nth-of-type(3),
.fiches-machines-table td:nth-of-type(3) {
    width: 12%;
}
.fiches-machines-table td:nth-of-type(3) {
    text-align: left;
    padding-right: 20px;
}
.fiches-machines-table th:nth-of-type(3) {
    text-align: center;
}

/* ATTESTATIONS DE CONDUITE TABLE */

.attestations-de-conduite-table {
    margin-top: -2px;
}

.attestations-de-conduite-table th:first-of-type,
.attestations-de-conduite-table td:first-of-type {
    width: 80%;
}

.attestations-de-conduite-table th:last-of-type,
.attestations-de-conduite-table td:last-of-type {
    width: 20%;
}

/* LIBRARY PAGE */

.library-item {
    border-bottom: 1px solid #8d8d8d;
    padding-top: 4px;
    padding-bottom: 18px;
    margin-bottom: 17px;
    min-height: 175px;
}

.library-item h2 {
    margin-bottom: 16px;
}

.library-item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    line-height: 1.2;
    margin-bottom: 22px;
}

.library-item a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    color: #3ba890;
}

/* PROFIL */

.profil-form {
    padding-top: 8px;
    float: left;
}

.profil-form .one-column-input-wrapper,
.profil-form .button-wrapper {
    width: 50%;
    float: left;
}

.profil-form .input-wrapper {
    width: calc(50% - 12px);
    float: left;
    margin-right: 23px;
    margin-bottom: 23px;
}

.profil-form .input-wrapper:nth-of-type(2n) {
    margin-right: 0;
}

.profil-form .one-column-input-wrapper .input-wrapper {
    width: 100%;
}

.profil-form .control-group {
    width: 100%;
    float: left;
}

.profil-form .form-control,
.settings-form .form-control,
.mon-profil-form .form-control {
    font-family: 'Open Sans', sans-serif;
    width: 404px !important;
    height: 42px !important;
    border-radius: 0;
}

.profil-form .button-wrapper .control {
    padding-left: 13px;
    padding-top:11px;
    margin-bottom: 32px;
}

.profil-form .image-upload {
    border: 1px solid transparent;
    float: left;
    width: 143px;
    height: 107px;
    margin-left: 11px;
}

.profil-form .image-upload label {
    width: 143px;
    height: 107px;
    background: transparent;
    position: absolute;
    right: -1px;
    top: -1px;
}

.profil-form .image-upload label span {
  background: url(/assets/img/ajouter-un-logo-img.png) no-repeat center;
  height: 107px;
  width: 140px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.profil-form .button-wrapper button {
    float: right;
    margin-top: 65px;
}

.profil-form .sauvegarder-button {
    margin-left: 24px;
}

/* SALARIES PAGE, SALARIES SITE PAGE */

.salaries-page,
.salaries-site-page {
    max-width: 1200px;
}

/* SITE REGLAGES PAGE */

.settings-form {
    overflow: auto;
    padding-top: 4px;
}

.settings-form .input-wrapper {
    width: 100%;
}

.settings-form-left-content-part,
.settings-form-right-content-part {
    float: left;
    width: calc(50% - 12px);
}

.settings-form-right-content-part {
    width: calc(50% - 12px);
    margin-left: 24px;
}

.main-image-editor-wrapper {
    float: left;
    position: relative;
    top: -1px;
    left: -1px;
    margin-bottom: 23px;
}

.main-image-editor-wrapper h2 {
    font-size: 16px;
}

.settings-form .img-preview {
    max-height: 107px;
    float: left;
    margin-right: 23px;
}

.settings-form .image-upload {
    width: 179px;
    height: 107px !important;
    border-color: transparent;
    float: left;
}

.settings-form .image-upload label {
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
}

.settings-form .image-upload label span {
    background: url(/assets/img/changer-image-img.png) no-repeat center;
}

.settings-form .button-wrapper {
    float: right;
    padding-top: 22px;
}

.settings-form .button-wrapper .annuler-button {
    margin-right: 20px;
}

/* SALARIES SITE PAGE */

.salaries-site-page .main-content {
    padding-top: 22px;
}

/* CACES PAGE */

.caces-page .main-content {
    overflow: hidden;
}

.caces-img-wrapper {
    position: relative;
    max-width: 832px;
}

.caces-img-wrapper img + img {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* VISITE MEDICALE PAGE */

.visite-medicale-page h2 {
    margin-bottom:15px;
}


/* MON PROFIL PAGE */

.mon-profil-page .main-content {
    overflow: hidden;
}

.mon-profil-detailed-info,
.mon-profil-fields {
    float: left;
}

.mon-profil-detailed-info {
    margin-right: 25px;
}

.mon-profil-form > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 17px;
    letter-spacing: -.15px;
}

.mon-profil-image-wrapper {
    float: left;
    margin-right: 45px;
}

.mon-profil-form .image-upload {
    width: 179px;
    height: 107px !important;
    border-color: transparent;
    float: left;
}

.mon-profil-form .image-upload label {
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
}

.mon-profil-form .image-upload label span {
    background: url(/assets/img/changer-image-img.png) no-repeat center;
}

.mon-profil-detailed-info .detailed-info-wrapper {
    padding-top: 21px;
}

.mon-profil-detailed-info .detailed-info-wrapper p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: -3px;
}

.mon-profil-form .button-wrapper {
    text-align: right;
    padding-top: 1px;
}

.mon-profil-form .sauvegarder-button {
    margin-left: 20px;
}

/* CRÉATION D’UN SALARIÉ */

.creation-salarie-page .one-column-input-wrapper:nth-of-type(2n) {
    width: calc(50% - 12px);
    margin-left: 12px;
}

.creation-salarie-page .form-divider + .one-column-input-wrapper {
    margin-left: 0;
    width: 50%;
}

.creation-salarie-page .form-divider + .one-column-input-wrapper + .one-column-input-wrapper {
    padding-left: 12px;
    width: 50%;
}

.creation-salarie-page .form-divider ~ .one-column-input-wrapper .calendar-wrapper {
    margin-top: 13px;
}

.creation-salarie-page .form-divider + .one-column-input-wrapper + .one-column-input-wrapper .calendar-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.creation-salarie-page .calendar-wrapper {
    width: calc(100% - 12px) !important;
    padding-top: 13px;
    margin-bottom: 11px;
}

.creation-salarie-page .image-upload {
    height: 107px! important;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-left: 24px;
    position: relative;
    top: -8px;
}

.creation-salarie-page .form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
}

.creation-salarie-page .form-subheader {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    padding-top: 5px;
}

.creation-salarie-page .calendar-wrapper p {
    padding-top: 0;
    padding-left: 12px;
}

.creation-salarie-page .image-upload label span {
    background: url(/assets/img/ajouter-un-img-img.png) no-repeat center;
    height: 107px! important;
    width: 179px !important;
}

.creation-salarie-page .button-wrapper .control {
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    font-size: 14px;
}

.creation-salarie-page .radio-btn-inline,
.creation-salarie-page .radio-btn-block {
    padding-top: 12px;
}

.creation-salarie-page .radio-btn-inline .radio{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 23px;
}
.creation-salarie-page .radio-btn-block .radio{
    display: block;
    margin-right: 5px;
    margin-bottom: 15px;
}

.creation-salarie-page .radio-btn-inline .radio input[type="radio"] + .radio-label::before,
.creation-salarie-page .radio-btn-block .radio input[type="radio"] + .radio-label::before {
    margin-right: 24px;
}

.creation-salarie-page .radio-btn-inline ~ .calendar-wrapper .datepicker-default,
.creation-salarie-page .radio-btn-block ~ .calendar-wrapper .datepicker-default{
    margin-right: 75px;
}

.creation-salarie-page .button-wrapper {
    width: 100%;
    text-align: right;
}

.creation-salarie-page .button-wrapper button {
    float: none;
    margin-left: 20px;
}

.creation-salarie-page .profile-img-wrapper {
    margin-top: 19px;
    margin-bottom: 24px;
}

.creation-salarie-page .modifier-button {
    width: 119px;
    height: 42px;
    margin-bottom: 24px;
}

.creation-salarie-page .form-divider {
    margin-bottom: 15px;
}

.creation-salarie-page .ajouter-image .form-label {
    width: 79px;
    float: left;
}

.creation-salarie-page .ajouter-image .image-upload {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #8d8d8d;
    width: calc(100% - 79px);
    height: 42px !important;
    border: 1px solid #bdbdbd;
    padding-left: 11px;
    padding-top: 8px;
    position: relative;
    float: left;
}

.creation-salarie-page .ajouter-image .image-upload p {
    text-align: left;
}

.creation-salarie-page .ajouter-image .image-upload label {
    width: 42px;
    height: 42px;
    background: #3ba890;
    position: absolute;
    right: -1px;
    top: -1px;
}

.creation-salarie-page .ajouter-image .image-upload label span {
    background: url(/assets/img/plus-icon-white.png) no-repeat center;
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.creation-salarie-page .search-panel p {
    padding-top: 2px;
    letter-spacing: -.5px;
    font-family: 'Righteous', cursive;
}

.creation-salarie-page .profil-form .button-wrapper button {
    margin-top: 22px;
}

.creation-salarie-page-1 .form-subheader {
    margin-bottom: 21px;
}

.creation-salarie-page-1 .button-wrapper {
    padding-top: 43px;
}
/* MOBILE */

@media (max-width: 1599px) {
    .sidebar {
    }
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    article {
        max-width: 100%;
    }
    .main-content {
        padding: 15px;
    }
    .sidebar-nav .li-lg {
        height: 56px;
    }
    .salaries-page,
    .salaries-site-page {
        max-width: 100%;
    }
    .profil-form .form-control,
    .settings-form .form-control {
        width: 100% !important;
    }
    .profil-form .one-column-input-wrapper .input-wrapper {
        width: calc(100% - 12px);
    }
    .profil-form .button-wrapper {
        max-width: 240px;
    }
    .profil-form .image-upload {
        float: none;
        height: 107px !important;
    }
    .profil-form .button-wrapper button {
        margin-top: 15px;
    }
    .profil-form .sauvegarder-button {
        margin-left: 10px;
    }
    .profil-form .button-wrapper .annuler-button {
        float: left;
        margin-left: 13px;
    }
    .mon-profil-form {
        max-width: 832px;
    }
    .mon-profil-image-wrapper {
        margin-right: 0;
    }
    .mon-profil-detailed-info,
    .mon-profil-fields {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }
    .mon-profil-fields {
        float: right;
        text-align: right;
    }
    .mon-profil-form .form-control {
        width: 100% !important;
    }
    .alert-danger {
        position: relative;
    }
    .caces-img-wrapper img {
        min-width: 100%;
    }
    td .control__indicator {
        left: calc(50% - 10px) !important;
    }
    .creation-salarie-page .one-column-input-wrapper .input-wrapper,
    .creation-salarie-page .calendar-wrapper {
        width: 100%;
    }
    .creation-salarie-page .radio-btn-inline ~ .calendar-wrapper .datepicker-default,
    .creation-salarie-page .radio-btn-block ~ .calendar-wrapper .datepicker-default{
        margin-right: 0px;
    }
    .creation-salarie-page-1 .profil-form .button-wrapper .annuler-button {
        margin-left: 0;
    }

    #type-machine a.pull-left {
        margin-left: 0px;
    }
    #type-engin a:not(.navigation-back-button) {
        margin-left: 0px;
    }
    .table-default th:last-of-type,
    .table-default td:last-of-type {
        text-align: center;
    }
    .table-default th {
      padding-left: 24px !important;
    }

}

@media (max-width: 1199px) {
    article {
        max-width: 100%;
    }
    .alert-danger {
        height: auto;
        /*top: 0px;*/
    }
    /*td .control__indicator {*/
        /*left: calc(50% - 10px) !important;*/
    /*}*/
}

@media (max-width: 991px) {
    .sidebar, main {
        width: 100%;
    }
    .brand-wrapper {
        text-align: left;
        padding-left: 15px;
        margin-bottom: -75px;
    }
    .brand {
        margin-top: 20px;
    }
    .brand img {
        width: 50%;
    }
    .brand p {
        font-size: 13px;
    }

    .sidebar-nav {
        display: none;
    }
    .sidebar-nav a {
        padding-left: 15px;
    }
    main {
        padding: 0px;
    }
    .search-panel p,
    .search-wrapper {
        width: calc(100% - 50px);
        top: 0;
        float: left;
    }
    .search-panel p {
        margin-bottom: 15px;
    }
    .search-button,
    .search-input {
        height: 35px;
        border-radius: 18px !important;
    }
    .search-button {
        background-position: center;
        width: 37px;
        top: 0;
    }
    .search-input {
        padding-left: 39px;
        font-size: 16px;
        width: 100% !important;
    }
    .add-an-item-button {
        top: 5px;
    }

    .modal-dialog {
        display: block;
        margin: 30px 15px;
    }
    .modal-content {
        min-width: 100% !important;
    }
    .modal-content {
        padding: 20px;
    }
    .creer-un-client-form,
    .form-control,
    .creer-un-client-form .form-control,
    .form-divider,
    .creer-un-client-form .button-wrapper {
        width: 100% !important;
        max-width: 100% !important;
    }
    .alert-danger {
        top: 0px;
    }
    .parc-machine-modal h2,
    .parc-machine-modal .form-subheader {
        text-align: center;
        padding-left: 0 !important;
    }

    .parc-machine-modal .tab-pane  {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .calendar-wrapper,
    .parc-machine-modal a:not(.navigation-back-button) {
        width: 100% !important;
    }

    #type-machine a.pull-right {
        margin-right: 0;
    }

    .calendar-wrapper p {
        width: 100%;
        text-align: left;
    }

    .datepicker-default {
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #type-machine a, #type-engin a, #category-chariot-grue a, #category-grue-mobile-r383 a {
        line-height: inherit;
        padding: 10px;
        height: auto;
    }
    #type-vehicule a:not(.navigation-back-button) {
        margin-left: 0;
    }
    .engine-detailed-info,
    .qr-code-wrapper,
    .verification-generale-periodique,
    .immat-n-parc {
        min-width: 100%;
        min-height: 1px;
        margin-bottom: 15px;
    }

    .verification-generale-periodique button,
    .immat-n-parc button {
        float: none !important;
    }
}

@media (max-width: 767px) {
    h1 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .sidebar-nav li,
    .sidebar-nav .li-lg {
        height: 42px;
    }
    .sidebar-nav a {
        font-size: 18px;
    }

    .mon-profil-detailed-info,
    .mon-profil-fields {
        width: 100%;
    }

    .mon-profil-detailed-info {
        margin-bottom: 23px;
    }
}

.modal-content{
    border-radius: 0px;
}

@media (max-width: 575px) {
    .main-content {
        padding: 15px;
    }
    .pagination li a {
        padding: 6px 0;
        width: 32px;
    }
    .ajouter-un-site-modal .input-wrapper {
        width: 100%;
    }
    .ajouter-un-site-modal .image-upload {
        margin-bottom: 20px;
    }
    .ajouter-un-site-table th,
    .ajouter-un-site-table td,
    .notifications-table th,
    .notifications-table td,
    .attestations-de-conduite-table th,
    .attestations-de-conduite-table td {
        width: 33.33333333% !important;
    }
    .ajouter-responsables-table th,
    .ajouter-responsables-table td {
        width: 25% !important;
    }
    .profil-form .input-wrapper,
    .profil-form .one-column-input-wrapper,
    .profil-form .button-wrapper,
    .profil-form .one-column-input-wrapper .input-wrapper,
    .settings-form-left-content-part,
    .settings-form-right-content-part {
        width: 100% !important;
    }
    .profil-form .button-wrapper .control {
        padding-left: 0;
    }
    .profil-form .image-upload,
    .profil-form .button-wrapper .annuler-button,
    .settings-form-right-content-part {
        margin-left: 0;
    }
    .profil-form .image-upload label {
        right: 1px;
    }
    .settings-form .img-preview {
        max-height: 100%;
        margin-bottom: 20px;
    }
    .creation-salarie-page .one-column-input-wrapper:nth-of-type(2n) {
        width: 100%;
        margin-left: 0;
    }
    .creation-salarie-page .calendar-wrapper p,
    .creation-salarie-page .form-divider + .one-column-input-wrapper + .one-column-input-wrapper,
    .creation-salarie-page .form-label {
        padding-left: 0;
    }
    /* responsive fix for images in IE */
    _:-ms-lang(x), .img-responsive {
        width:100%;
        max-width:100%;
    }
}

/* MOBILE TABLES */
@media screen and (max-width: 1599px) {
    .sort-button-true, .sort-button-false, .double-sort-button {
        bottom: 25px;
        top: auto;
        left: 24px;
        background-position: center;
    }
    /*.sort-button-true {*/
        /*bottom: 25px;*/
    /*}*/
    /*.sort-button-false {*/
        /*bottom: 40px;*/
    /*}*/

    table {
        width: 100%;
        table-layout: fixed;
    }
    table th {
        padding-left: 20px;
        padding-right: 20px;
    }
    table th {
        height: 56px;
        text-align: left !important;
        /*padding-top: 10px;*/
        /*padding-bottom: 25px;*/
    }
    table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left !important;
    }
    table th:last-of-type,
    table td:last-of-type {
        text-align: center !important;
    }
}

@media screen and (max-width: 1199px) {
    .sort-button-true, .sort-button-false, .double-sort-button {
        bottom: 25px;
        top: auto;
        left: 24px;
        background-position: center;
    }
    /*.sort-button-true {*/
        /*bottom: 25px;*/
    /*}*/
    /*.sort-button-false {*/
        /*bottom: 25px;*/
    /*}*/
    table {
        width: 100%;
        table-layout: fixed;
    }
    table th {
        padding-left: 5px;
        padding-right: 5px;
    }
    table th {
        height: 56px;
        text-align: left !important;
    }
    table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left !important;
    }
    table th:last-of-type,
    table td:last-of-type {
      text-align: center !important;
    }
    .table-default td:last-of-type {
        padding-left: 8px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    table:not(.ajouter-un-site-table):not(.notifications-table):not(.ajouter-responsables-table):not(.ui-datepicker-calendar):not(.attestations-de-conduite-table) thead {
        display: none;
    }
    table:not(.ajouter-un-site-table):not(.notifications-table):not(.ajouter-responsables-table):not(.ui-datepicker-calendar):not(.attestations-de-conduite-table) tbody td {
        display: block;
        width: 100% !important;
        text-align: left !important;
        padding-left: 15px !important;
        border-right: 1px solid transparent !important;
        line-height: 56px;
    }
    table:not(.ajouter-un-site-table):not(.notifications-table):not(.ajouter-responsables-table):not(.ui-datepicker-calendar):not(.attestations-de-conduite-table) tbody tr td:first-child {
        background: #3ba890;
        color: #fff;
    }
    table:not(.ajouter-un-site-table):not(.notifications-table):not(.ajouter-responsables-table):not(.ui-datepicker-calendar):not(.attestations-de-conduite-table) tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        min-width: 120px;
    }
    table th,
    table td {
        text-align: left !important;
    }

    .fichiers-table tbody td:before {
        min-width: 150px !important;
    }
    table th:last-of-type,
    table td:last-of-type {
      text-align: center !important;
    }
}

.loading_ok {
    content: '';
    position: absolute;
    right: 50px;
    top: 4px;
    width: 14px;
    height: 24px;
    border: solid #3ba890;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
