/* Fonts */
@font-face {
    font-family: Righteous;
    src: url(assets/fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(assets/fonts/OpenSans-Semibold.ttf);
}

/* End of fonts */



/*==================== КИРИЛЛ ====================*/
/* GENERAL */
/*body{*/
    /*!*max-width: 1100px;*!*/
    /*!*min-width: 490px;*!*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*background-color: #efefef;*/

/*}*/

/*body {*/
    /*background-color: #efefef;*/
/*}*/
/*h1 {*/
    /*font-size: 36px;*/
    /*font-family: OpenSans-Bold;*/
    /*margin: 0;*/
/*}*/
/*h3 {*/
    /*font-size: 24px;*/
    /*font-family: Righteous;*/
    /*margin: 0;*/
/*}*/
/*#main-container {*/
    /*display: flex;*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {*/
    /*padding: 0;*/
/*}*/


/*!* End of GENERAL *!*/


/*!* Main sidebar *!*/
/*#main-sidebar {*/
    /*width: 20%;*/
    /*background-color: #3ba890;*/
    /*padding-top: 3%;*/
    /*float: left;*/
    /*display: flex;*/
    /*align-self: stretch;*/
/*}*/
/*.main-navigation {*/
    /*width: 100%;*/
/*}*/
/*.navbar-header {*/
    /*width: 100%;*/
/*}*/
/*.navbar-brand {*/
    /*height: auto;*/
    /*padding: 0;*/
    /*width: 100%;*/
/*}*/
/*#logo {*/
    /*margin: 0 auto;*/
/*}*/
/*.navbar-nav>li>a {*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
/*}*/
/*.navbar-nav,*/
/*.navbar-nav>li {*/
    /*width: 100%;*/
/*}*/
/*.navbar-nav {*/
    /*padding-top: 20px;*/
    /*margin: 0;*/
/*}*/
/*.nav-link-block {*/
    /*padding-left: 2%;*/
    /*padding-right: 1%;*/
/*}*/
/*.nav-link {*/
    /*color: white;*/
    /*font-size: 24px;*/
    /*font-family: Righteous;*/
/*}*/
/*.nav-link-block:hover,*/
/*.nav>li>a:hover {*/
    /*color: black;*/
    /*background-color: #71dac0;*/
/*}*/
/*.active-page-link-block,*/
/*.active-page-link {*/
    /*color: black;*/
    /*background-color: #71dac0;*/
/*}*/

/*!* End of main-sidebar *!*/


/*!* Main content *!*/

/*#main-content {*/
    /*width: 70%;*/
    /*margin-left: 5%;*/
    /*float: left;*/
    /*margin-top: 3%;*/
/*}*/
/*.main-content-header-block {*/
    /*background-color: white;*/
    /*height: 140px;*/
    /*width: 100%;*/
    /*display: table;*/
/*}*/
/*.main-content-header {*/
    /*text-align: center;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/
/*.main-content-wrapper {*/
    /*background-color: white;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*margin-top: 20px;*/
    /*padding-top: 10px;*/
    /*float: left;*/
    /*width: 100%;*/
/*}*/
/*.button-style-1 {*/
    /*background-color: #71dac0;*/
    /*border: none;*/
    /*height: 42px;*/
    /*font-family: Righteous;*/
    /*font-size: 16px;*/
    /*color: black;*/
/*}*/
/*.button-style-2 {*/
    /*background-color: #f32938;*/
    /*border: none;*/
    /*height: 42px;*/
    /*font-family: Righteous;*/
    /*font-size: 16px;*/
    /*color: white;*/
/*}*/
/*.input-style-text {*/
    /*height: 42px;*/
    /*border: 1px solid #bdbdbd;*/
    /*color: black;*/
    /*font-size: 14px;*/
    /*font-family: OpenSans-Regular;*/
    /*display: block;*/
    /*width: 260px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
/*}*/
/*.input-style-text::-webkit-input-placeholder {*/
    /*color:  #8d8d8d;*/
    /*font-size: 14px;*/
    /*font-family: OpenSans-Regular;*/
/*}*/
/*.input-style-checkbox {*/
    /*border: 1px solid #3ba890;*/
    /*background-color: transparent;*/
/*}*/

/*!* Media Query *!*/

/*@media (max-width: 768px) {*/
    /*#main-container {*/
        /*display: block;*/
    /*}*/
    /*!* Mobile header *!*/

    /*#mobile-header {*/
        /*background-color: #3ba890;*/
    /*}*/
    /*.container-fluid {*/
        /*padding: 0;*/
    /*}*/
    /*.navbar {*/
        /*border: none;*/
        /*background-color: #3ba890;*/
    /*}*/
    /*.navbar-default {*/
        /*background-image: none;*/
    /*}*/
    /*.navbar-header {*/
        /*margin-left:  0!important;*/
        /*margin-right: 0!important;*/
    /*}*/
    /*.navbar-brand {*/
        /*padding: 15px;*/
        /*height: 50px;*/
        /*width: auto;*/
    /*}*/
    /*.navbar-collapse {*/
        /*padding: 0;*/
    /*}*/
    /*.navbar-default .navbar-collapse {*/
        /*border: none;*/
    /*}*/
    /*.container-fluid>.navbar-collapse {*/
        /*margin: 0;*/
    /*}*/
    /*.navbar-nav {*/
        /*padding: 0;*/
    /*}*/
    /*.icon-bar {*/
        /*background-color: black;*/
    /*}*/
    /*.navbar-default .navbar-toggle:focus,*/
    /*.navbar-default .navbar-toggle:hover {*/
        /*background-color: transparent;*/
        /*border: none;*/
    /*}*/
    /*.navbar-default .navbar-toggle {*/
        /*border: none;*/
    /*}*/
    /*.navbar-default .navbar-nav>li>a {*/
        /*color: white;*/
    /*}*/
    /*#main-content {*/
        /*width: 100%;*/
        /*margin-left: 0;*/
    /*}*/

    /*!* End of Mobile header *!*/
/*}*/


/*!* Reglages.css *!*/
/*.form-header {*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
/*}*/
/*.reglages-form-label {*/
    /*font-family: OpenSans-Regular;*/
/*}*/
/*.button-style-1,*/
/*.button-style-2 {*/
    /*width: 110px;*/
/*}*/
/*!* End of Reglages.css *!*/


/*!* creer-client.css *!*/
/*.input-style-text {*/
    /*width: 90%;*/
/*}*/
/*.button-style-1,*/
/*.button-style-2 {*/
    /*width: 69px;*/
/*}*/
/*!* End of creer-client.css *!*/
/*=============end===== КИРИЛЛ ====================*/


/* GENERAL */

/*html {*/
    /*position: relative;*/
    /*height: 100%;*/
    /*!*	overflow: hidden;*!*/
/*}*/

/*body {*/
    /*max-width: 1600px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: flex;*/
    /*align-items: stretch;*/
    /*position: relative;*/
    /*height: 100%;*/
    /*!*height: 1200px;*!*/
/*}*/

/*.main-wrapper {*/
    /*max-width: 1600px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: flex;*/
    /*align-items: stretch;*/
    /*position: relative;*/
    /*height: 100%;*/
    /*!*height: 1200px;*!*/
/*}*/
/*!* SIDEBAR *!*/

/*.sidebar {*/
    /*width: 320px;*/
    /*background: #3ba890;*/
    /*float: left;*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/

/*.brand-wrapper {*/
    /*text-align: center;*/
/*}*/

/*.brand {*/
    /*display: inline-block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 40px;*/
    /*text-decoration: none;*/
/*}*/

/*.brand img {*/
    /*margin-bottom: -3px;*/
/*}*/

/*.brand p {*/
    /*font-family: 'Righteous', cursive;*/
    /*font-size: 26px;*/
    /*text-transform: uppercase;*/
    /*color: #fff;*/
/*}*/

/*.sidebar-nav {*/
    /*margin-top: -1px;*/
/*}*/

/*.sidebar-nav li {*/
    /*height: 56px;*/
    /*margin-bottom: 4px;*/
    /*padding-top: 12px;*/
    /*transition:.4s;*/
/*}*/

/*.sidebar-nav a {*/
    /*font-family: 'Righteous', cursive;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*display: block;*/
    /*padding-left: 32px;*/
    /*text-decoration: none;*/
    /*transition:.4s;*/
/*}*/

/*.sidebar-nav .active {*/
    /*background: #71dac0;*/
/*}*/

/*.sidebar-nav .active a {*/
    /*color: #000;*/
/*}*/

/*.sidebar-nav li:hover {*/
    /*background: #71dac0;*/
    /*transition:.4s;*/
/*}*/

/*.sidebar-nav li:hover a {*/
    /*color: #000;*/
    /*transition:.4s;*/
/*}*/

/* MAIN */

main {
    width: calc(100% - 320px);
    float: left;
    position: relative;
    height: 100%;
    padding:40px;
    padding-bottom: 0;
    background: #efefef;
}

article {
    max-width: 880px;
    position: relative;
    height: 100%;
}

.main-header {
    min-height: 140px;
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    transform:translate(-50%, -48%);
}

.main-content {
    min-height: 140px;
    position: relative;
    height: calc(100% - 140px);
    background: #fff;
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 24px;
    /*	overflow: auto;*/
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border:none;
    height: 32px;
}

.red-button {
    background-color: #f32938;
    color: #fff;
}

.green-button {
    background-color: #71dac0;
    color: #000;
}

.annuler-button,
.creer-button {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    width: 84px;
    height: 42px;
}

.input-wrapper {
    margin-bottom: 23px;
    position: relative;
}

.requred-field {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #f32938;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.form-divider {
    max-width: 360px;
    margin-bottom: 23px;
    height: 1px;
    background-color: #8d8d8d;
}

/* CHECKBOX */

.control {
    font-family: 'Righteous', cursive;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 4px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: .2px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 5px;
    left: 2px;
    height: 19px;
    width: 19px;
    background: #e6e6e6;
    border: 2px solid #3ba890;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #fff;
}

.control input:checked ~ .control__indicator {
    background: #fff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #fff;
}

.control input:disabled ~ .control__indicator {
    background: #fff;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 3px;
    top: -11px;
    width: 14px;
    height: 24px;;
    border: solid #3ba890;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* NUMBER INPUT */

.spin {
    font-family: 'Open Sans', sans-serif;
    color: #8d8d8d;
    display: block;
    padding-left: 11px;
    position: relative;
    top:-4px;
}
.spin span {
    display:block;
    width: 120px;
    height: 24px;
    text-align: center;
    padding-top: 2px;
    background: #3ba890;
    border: 1px solid #aaa;
    cursor: pointer;
}

.spin span img {
    transform: rotate(90deg);
    max-height: 9px;
    position: relative;
    top: -1px;
}

.spin input + span img {
    transform: rotate(270deg);
    top: -4px;
}

.spin input {
    width: 120px;
    height: 42px;
    text-align: center;
}

/* SEARCH */

.search-panel {
    margin-bottom: 22px;
}

.search-wrapper {
    float: right;
    position: relative;
    top:2px;
}

.search-button {
    width: 25px;
    height: 23px;
    background: url(assets/img/loupe-icon.png) no-repeat;
    background-position: 70% 20%;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    top: 2px;
}

.search-input {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-left: 27px;
    padding-top: 5px;
    width: 190px !important;
    height: 23px;
    display: block;
    border: 1px solid #bdbdbd;
    border-radius: 12px !important;
    color: #000;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8d8d8d;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
    color: #8d8d8d;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
    color: #8d8d8d;
}
.search-input:-moz-placeholder { /* Firefox 18- */
    color: #8d8d8d;
}

.add-an-item-button {
    float: right;
    width: 24px;
    height: 24px;
    background: url(assets/img/plus-icon.png) no-repeat;
    border: none;
    margin-left: 24px;
    margin-right: 1px;
    position: relative;
    top: 1px;
}

/* TABLE */

.table-wrapper {
    margin-bottom: 3px;
}

.single-sort-button {
    width: 22px;
    height: 12px;
    display: inline-block;
    background: url(assets/img/order-icon.png) no-repeat;
    border: none;
}

.double-sort-button {
    width: 22px;
    height: 26px;
    display: inline-block;
    border: none;
    background: transparent;
    margin-right: 11px;
}

.double-sort-button span {
    width: 22px;
    height: 8px;
    background: url(assets/img/order-icon.png) no-repeat center;
    display: block;
    position: relative;
    top: -4px;
}

.double-sort-button span:first-of-type {
    transform: rotate(180deg);
}

.double-sort-button + span {
    display: inline-block;
    position: relative;
    top: -5px;
}

.table-default {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.table-default thead {
    font-weight: bold;
    background: #3ba890;
    color: #fff;
    height: 56px;
}

.table-default th {
    line-height: 1;
}

.table-default tbody {
    border-bottom: 1px solid #bdbdbd;
}

.table-default tbody tr {
    font-weight: 400;
    height: 56px;
}

.table-default tbody tr:nth-of-type(2n+1) {
    background: #efefef;
}

.table-default th,
.table-default td {
    border-right: 1px solid #007863;
}

.table-default th,
.table-default td {
    padding-left: 10px;
}

.table-default td {
    padding-right: 24px;
    text-align: right;
    color: #000;
}

.table-default th:first-of-type,
.table-default td:first-of-type {
    padding-left: 24px;
}

.table-default td:first-of-type {
    padding-right: 0;
    text-align: left;
}

.table-default th:last-of-type,
.table-default td:last-of-type {
    border-right: none;
    text-align: center;
    padding-right: 12px;
}

/* PAGINATION */

.pagination-wrapper {
    text-align: right;
    overflow: auto;
    padding-right: 1px;
}

.pagination a {
    font-family: 'Open Sans', sans-serif;
    width: 48px;
    height: 48px;
    border-radius: 0 !important;
    color: #8d8d8d !important;
    text-align: center;
    line-height: 2.5 !important;
    transition:.4s;
}

.pagination .active a {
    background: #71dac0;
    border: 1px solid #71dac0;
    color: #000 !important;
}

.pagination a:focus,
.pagination a:hover {
    background: #3ba890 !important;
    border: 1px solid #3ba890 !important;
    color: #fff !important;
    transition:.4s;
}

.pagination .prev-link,
.pagination .next-link {
    background: #3ba890;
    border: 1px solid #3ba890;
    position: relative;
}

.pagination .prev-link img,
.pagination .next-link img {
    position: relative;
    top: -2px;
}

.pagination .next-link img {
    transform: rotate(180deg);
}

/* CUSTOM STYLES */
/* REGLAGES */

.creer-un-client-form .form-group {
    height: 67px;
}

.creer-un-client-form .form-group label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    top: -5px;
    margin-bottom: 6px;
}

.creer-un-client-form .form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid #bdbdbd;
    color: #8d8d8d;
    width: 256px;
    height: 32px !important;
    padding-top: 4px;
    padding-left: 8px;
    margin-bottom: 19px;
}

.annuler-sauvegarder-button-wrapper {
    width: 256px;
}

.annuler-sauvegarder-button-wrapper .red-button {
    float: left;
    width: 109px;
    height: 32px;
}

.annuler-sauvegarder-button-wrapper .green-button {
    float: right;
    width: 109px;
    height: 32px;
}

/* CREER UN CLIENT */

.creer-un-client-form {
    padding-top: 8px;
}

.creer-un-client-form .form-control {
    width: 361px !important;
    height: 42px !important;
}

.creer-un-client-form .button-wrapper {
    max-width: 360px;
    text-align: right;
    padding-top: 19px;
}

.creer-un-client-form .button-wrapper button {
    margin-left: 18px;
    position: relative;
    left: 1px;
}

.creer-un-client-form input.requred-field-border {
    border: 1px solid #f32938;
}

/* CLIENTS TABLE */

.clients-table th:first-of-type,
.clients-table td:first-of-type {
    width: 46.65%;
}

.clients-table th:nth-of-type(2),
.clients-table td:nth-of-type(2) {
    width: 16.6%;
}

.clients-table th:nth-of-type(3),
.clients-table tr:nth-of-type(3) {
    width: 16.6%;
}

.clients-table th:nth-of-type(4),
.clients-table td:nth-of-type(4) {
    width: 20.15%;
}

.clients-table td:nth-of-type(4) a {
    color: #000 !important;
}

/* LIBRARY TABLE */

.library-table th:first-of-type,
.library-table td:first-of-type {
    width: 40%;
}

.library-table th:nth-of-type(2),
.library-table td:nth-of-type(2) {
    width: 39.75%;
    text-align: left;
    padding-left: 24px;
    padding-right: 0;
}

.library-table th:nth-of-type(2) {
    padding-left: 66px;
}

.library-table td:nth-of-type(2) a,
.library-table td:nth-of-type(3) a {
    color: #000 !important;
}

.library-table th:nth-of-type(4),
.library-table td:nth-of-type(4) {
    width: 20.25%;
}